openapi: 3.1.0
info:
  title: Laravel Cloud Applications Databases API
  version: 0.0.1
servers:
- url: https://cloud.laravel.com/api
security:
- http: []
tags:
- name: Databases
paths:
  /databases/clusters/{database}/databases:
    get:
      operationId: public.databases.clusters.databases.index
      description: Get a list of all databases for a specific database cluster.
      summary: List databases
      tags:
      - Databases
      parameters:
      - name: database
        in: path
        required: true
        description: The database identifier
        schema:
          type:
          - string
          - 'null'
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - database
            - environments
        explode: false
      responses:
        '200':
          description: Paginated set of `DatabaseSchemaResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatabaseSchemaResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        minimum: 1
                      from:
                        type:
                        - integer
                        - 'null'
                        minimum: 1
                      last_page:
                        type: integer
                        minimum: 1
                      links:
                        type: array
                        description: Generated paginator links.
                        items:
                          type: object
                          properties:
                            url:
                              type:
                              - string
                              - 'null'
                            label:
                              type: string
                            active:
                              type: boolean
                          required:
                          - url
                          - label
                          - active
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      to:
                        type:
                        - integer
                        - 'null'
                        description: Number of the last item in the slice.
                        minimum: 1
                      total:
                        type: integer
                        description: Total number of items being paginated.
                        minimum: 0
                    required:
                    - current_page
                    - from
                    - last_page
                    - links
                    - path
                    - per_page
                    - to
                    - total
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/DatabaseResource'
                      - $ref: '#/components/schemas/EnvironmentResource'
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
    post:
      operationId: public.databases.clusters.databases.store
      description: Create a new database in a database cluster.
      summary: Create a database
      tags:
      - Databases
      parameters:
      - name: database
        in: path
        required: true
        description: The database identifier
        schema:
          type:
          - string
          - 'null'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreDatabaseSchemaRequest'
      responses:
        '201':
          description: '`DatabaseSchemaResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DatabaseSchemaResource'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/DatabaseResource'
                      - $ref: '#/components/schemas/EnvironmentResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
  /databases/clusters/{database}/databases/{schema}:
    get:
      operationId: public.databases.clusters.databases.show
      description: Get a specific database.
      summary: Get a database
      tags:
      - Databases
      parameters:
      - name: database
        in: path
        required: true
        description: The database identifier
        schema:
          type:
          - string
          - 'null'
      - name: schema
        in: path
        required: true
        description: The schema identifier
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - database
            - environments
        explode: false
      responses:
        '200':
          description: '`DatabaseSchemaResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DatabaseSchemaResource'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/DatabaseResource'
                      - $ref: '#/components/schemas/EnvironmentResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
    delete:
      operationId: public.databases.clusters.databases.destroy
      description: Delete a database from a database cluster.
      summary: Delete a database
      tags:
      - Databases
      parameters:
      - name: database
        in: path
        required: true
        description: The database identifier
        schema:
          type:
          - string
          - 'null'
      - name: schema
        in: path
        required: true
        description: The schema identifier
        schema:
          type: string
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
  /orgs/{organization}/servers/{server}/database/schemas:
    get:
      operationId: organizations.servers.database.schemas.index
      description: 'List all database schemas associated with the server.


        Processing mode: <small><code>sync</code></small>'
      summary: List database schemas
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        description: The name of the database schema.
        schema:
          type: string
          examples:
          - forge
      - name: filter[status]
        in: query
        description: The status of the database schema.
        schema:
          type: string
          examples:
          - installed
      - name: sort
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
            - created_at
            - -created_at
            - updated_at
            - -updated_at
        explode: false
      responses:
        '200':
          description: Paginated set of `DatabaseResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatabaseResource_2'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.database.schemas.store
      description: 'Add a new database schema to the server.


        Processing mode: <small><code>async</code></small>'
      summary: Create database schema
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatabaseRequest'
      responses:
        '202':
          description: '`DatabaseResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DatabaseResource_2'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:create-databases
      x-permissions:
      - server:create-databases
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/database/schemas/{database}:
    get:
      operationId: organizations.servers.database.schemas.show
      description: 'Get a specific database schema associated with the server.


        Processing mode: <small><code>sync</code></small>'
      summary: Get database schema
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: database
        in: path
        required: true
        description: The database ID
        schema:
          type: integer
      responses:
        '200':
          description: '`DatabaseResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DatabaseResource_2'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.servers.database.schemas.destroy
      description: 'Remove a database schema from the server.


        Processing mode: <small><code>async</code></small>'
      summary: Delete database schema
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: database
        in: path
        required: true
        description: The database ID
        schema:
          type: integer
      responses:
        '202':
          description: Accepted
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:delete-databases
      x-permissions:
      - server:delete-databases
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/database/schemas/synchronizations:
    post:
      operationId: organizations.servers.database.schemas.synchronizations.store
      description: 'Synchronize all database schemas on the server.


        Processing mode: <small><code>async</code></small>'
      summary: Update database schemas
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      responses:
        '202':
          description: Accepted
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:create-databases
      x-permissions:
      - server:create-databases
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/database/users:
    get:
      operationId: organizations.servers.database.users.index
      description: 'List all database users associated with the server.


        Processing mode: <small><code>sync</code></small>'
      summary: List database users
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        description: The name of the database user.
        schema:
          type: string
          examples:
          - forge
      - name: filter[status]
        in: query
        description: The status of the database user.
        schema:
          type: string
          examples:
          - installed
      - name: sort
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
            - created_at
            - -created_at
            - updated_at
            - -updated_at
        explode: false
      responses:
        '200':
          description: Paginated set of `DatabaseUserResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatabaseUserResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.database.users.store
      description: 'Add a new database user to the server.


        Processing mode: <small><code>async</code></small>'
      summary: Create database user
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatabaseUserRequest'
      responses:
        '202':
          description: '`DatabaseUserResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DatabaseUserResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:create-databases
      x-permissions:
      - server:create-databases
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/database/users/{databaseUser}:
    get:
      operationId: organizations.servers.database.users.show
      description: 'Get a specific database user associated with the server.


        Processing mode: <small><code>sync</code></small>'
      summary: Get database user
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: databaseUser
        in: path
        required: true
        description: The database user ID
        schema:
          type: integer
      responses:
        '200':
          description: '`DatabaseUserResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DatabaseUserResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.database.users.update
      description: 'Update a database user on the server.


        Processing mode: <small><code>async</code></small>'
      summary: Update database user
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: databaseUser
        in: path
        required: true
        description: The database user ID
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatabaseUserRequest'
      responses:
        '202':
          description: Accepted
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:create-databases
      x-permissions:
      - server:create-databases
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
    delete:
      operationId: organizations.servers.database.users.destroy
      description: 'Remove a database user from the server.


        Processing mode: <small><code>async</code></small>'
      summary: Delete database user
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: databaseUser
        in: path
        required: true
        description: The database user ID
        schema:
          type: integer
      responses:
        '202':
          description: Accepted
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:delete-databases
      x-permissions:
      - server:delete-databases
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/database/password:
    put:
      operationId: organizations.servers.database.password.update
      description: 'Update the password for the database on the server.

        It will only update the password Forge thinks is the password, it will not change the password on the server itself.

        This should only be used if you have changed the password on the server itself and want to update Forge.


        Processing mode: <small><code>sync</code></small>'
      summary: Update the password for the database
      tags:
      - Databases
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatabasePasswordRequest'
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:manage-services
      x-permissions:
      - server:manage-services
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
components:
  schemas:
    CloudRegion:
      type: string
      enum:
      - us-east-2
      - us-east-1
      - ca-central-1
      - eu-central-1
      - eu-west-1
      - eu-west-2
      - me-central-1
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      title: CloudRegion
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        rel:
          type: string
        describedby:
          type: string
        title:
          type: string
        type:
          type: string
        hreflang:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        meta:
          type: object
      required:
      - href
      title: Link
    UpdateDatabasePasswordRequest:
      type: object
      properties:
        password:
          type: string
          maxLength: 255
      required:
      - password
      title: UpdateDatabasePasswordRequest
    BranchResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - branches
        id:
          type: string
      required:
      - type
      - id
      title: BranchResourceIdentifier
    DatabaseSchemaResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - databaseSchemas
        attributes:
          type: object
          properties:
            name:
              type: string
            status:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - status
          - created_at
        relationships:
          type: object
          properties:
            database:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/DatabaseResourceIdentifier'
                  - type: 'null'
              required:
              - data
            environments:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/EnvironmentResourceIdentifier'
              required:
              - data
      required:
      - id
      - type
      title: DatabaseSchemaResource
    ApplicationResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - applications
        id:
          type: string
      required:
      - type
      - id
      title: ApplicationResourceIdentifier
    FilesystemResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - filesystems
        id:
          type: string
      required:
      - type
      - id
      title: FilesystemResourceIdentifier
    CreateDatabaseRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the database to create.
          examples:
          - forge
          maxLength: 63
        user:
          type:
          - string
          - 'null'
          description: The name of the database user to create. Only needed if a new user should be created alongside the database.
          examples:
          - james
        password:
          type:
          - string
          - 'null'
          description: The password for the database user. Only used if the user is provided.
          examples:
          - password
          maxLength: 255
        backup_configuration_ids:
          type: array
          description: The backup configurations the database should be added to.
          examples:
          - - 1
            - 2
          items:
            type: integer
      required:
      - name
      title: CreateDatabaseRequest
    EnvironmentResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - environments
        attributes:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
            status:
              $ref: '#/components/schemas/EnvironmentStatus'
            created_from_automation:
              type: boolean
            vanity_domain:
              type: string
            php_major_version:
              type: string
              enum:
              - '8.2'
              - '8.3'
              - '8.4'
              - '8.5'
            build_command:
              type:
              - string
              - 'null'
            node_version:
              $ref: '#/components/schemas/NodeVersion'
            deploy_command:
              type:
              - string
              - 'null'
            uses_octane:
              type: boolean
            uses_hibernation:
              type: boolean
            hibernation_wake_up_interval:
              type:
              - integer
              - 'null'
            uses_push_to_deploy:
              type: boolean
            uses_deploy_hook:
              type: boolean
            ? ''
            : anyOf:
              - type: object
                properties:
                  environment_variables:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        value:
                          type: string
                      required:
                      - key
                      - value
                required:
                - environment_variables
              - type: array
                items:
                  type: string
                minItems: 0
                maxItems: 0
                additionalItems: false
            network_settings:
              type: object
              properties:
                cache:
                  type: object
                  properties:
                    strategy:
                      type: string
                  required:
                  - strategy
                response_headers:
                  type: object
                  properties:
                    frame:
                      type: string
                    content_type:
                      type: string
                    hsts:
                      type: object
                      properties:
                        max_age:
                          type: integer
                        include_subdomains:
                          type: boolean
                        preload:
                          type: boolean
                      required:
                      - max_age
                      - include_subdomains
                      - preload
                  required:
                  - frame
                  - content_type
                  - hsts
                firewall:
                  type: object
                  properties:
                    bot_categories:
                      type: array
                      items:
                        $ref: '#/components/schemas/BotControlCategory'
                    rate_limit:
                      type: object
                      properties:
                        level:
                          $ref: '#/components/schemas/RateLimitLevel'
                        per_minute:
                          $ref: '#/components/schemas/RateLimitPerMinute'
                        4xx:
                          type: boolean
                        '429':
                          type: boolean
                      required:
                      - level
                      - per_minute
                      - 4xx
                      - '429'
                    under_attack_mode_started_at:
                      type: string
                    block_path:
                      type: boolean
                  required:
                  - bot_categories
                  - rate_limit
                  - under_attack_mode_started_at
                  - block_path
                content_converter:
                  type: boolean
              required:
              - cache
              - response_headers
              - firewall
              - content_converter
            created_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - slug
          - status
          - created_from_automation
          - vanity_domain
          - php_major_version
          - build_command
          - node_version
          - deploy_command
          - uses_octane
          - uses_hibernation
          - hibernation_wake_up_interval
          - uses_push_to_deploy
          - uses_deploy_hook
          - null
          - network_settings
          - created_at
        relationships:
          type: object
          properties:
            application:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/ApplicationResourceIdentifier'
                  - type: 'null'
              required:
              - data
            branch:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/BranchResourceIdentifier'
                  - type: 'null'
              required:
              - data
            deployments:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/DeploymentResourceIdentifier'
              required:
              - data
            currentDeployment:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/DeploymentResourceIdentifier'
                  - type: 'null'
              required:
              - data
            domains:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/DomainResourceIdentifier'
              required:
              - data
            primaryDomain:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/DomainResourceIdentifier'
                  - type: 'null'
              required:
              - data
            instances:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/InstanceResourceIdentifier'
              required:
              - data
            database:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/DatabaseSchemaResourceIdentifier'
                  - type: 'null'
              required:
              - data
            cache:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/CacheResourceIdentifier'
                  - type: 'null'
              required:
              - data
            buckets:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/FilesystemResourceIdentifier'
              required:
              - data
            websocketApplication:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/WebsocketApplicationResourceIdentifier'
                  - type: 'null'
              required:
              - data
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: EnvironmentResource
    InstanceResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - instances
        id:
          type: string
      required:
      - type
      - id
      title: InstanceResourceIdentifier
    CacheResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - caches
        id:
          type: string
      required:
      - type
      - id
      title: CacheResourceIdentifier
    DatabaseResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - databases
        attributes:
          type: object
          properties:
            name:
              type: string
            type:
              $ref: '#/components/schemas/DatabaseType'
            status:
              $ref: '#/components/schemas/DatabaseStatus'
            region:
              $ref: '#/components/schemas/CloudRegion'
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            config:
              description: Configuration object. Fields vary based on database type.
              oneOf:
              - title: Neon Serverless Postgres
                type: object
                description: Configuration for Neon Serverless Postgres databases
                properties:
                  cu_min:
                    type: number
                    description: Minimum compute units for auto-scaling
                    enum:
                    - 0.25
                    - 0.5
                    - 1
                    - 2
                    - 4
                    - 8
                    - 10
                  cu_max:
                    type: number
                    description: Maximum compute units for auto-scaling
                    enum:
                    - 0.25
                    - 0.5
                    - 1
                    - 2
                    - 4
                    - 8
                    - 10
                  suspend_seconds:
                    type: integer
                    description: 'Seconds of inactivity before hibernation (0 = never, otherwise 60–604800) (min: 0, max: 604800)'
                  retention_days:
                    type: integer
                    description: 'Days to retain point-in-time recovery data (min: 0, max: 30)'
                required:
                - cu_min
                - cu_max
                - suspend_seconds
                - retention_days
              - title: Laravel MySQL
                type: object
                description: Configuration for Laravel MySQL databases
                properties:
                  size:
                    type: string
                    description: Instance size for the database cluster
                    enum:
                    - mysql-flex-512mb
                    - mysql-flex-1gb
                    - mysql-flex-2gb
                    - db-flex.m-1vcpu-512mb
                    - db-flex.m-1vcpu-1gb
                    - db-flex.m-1vcpu-2gb
                    - db-flex.m-1vcpu-4gb
                    - db-pro.m-1vcpu-4gb
                    - db-pro.m-2vcpu-8gb
                    - db-pro.m-4vcpu-16gb
                    - db-pro.m-8vcpu-32gb
                    - mysql-pro-4gb
                    - mysql-pro-8gb
                    - mysql-pro-16gb
                    - mysql-pro-32gb
                  storage:
                    type: integer
                    description: 'Storage allocation in gigabytes (min: 5, max: 1000)'
                  is_public:
                    type: boolean
                    description: Whether the database is publicly accessible
                  uses_scheduled_snapshots:
                    type: boolean
                    description: Whether scheduled backups are enabled
                  retention_days:
                    type: integer
                    description: 'Days to retain backup data (min: 0, max: 30)'
                  maintenance_window:
                    type:
                    - string
                    - 'null'
                    description: UTC maintenance window for automated updates
                    examples:
                    - sun:06:00-sun:06:30
                  suspend_seconds:
                    type: integer
                    description: 'Seconds of inactivity before scaling to zero (0 = never). Requires an eligible size and the scale-to-zero feature. (min: 0, max: 3600)'
                required:
                - size
                - storage
                - is_public
                - uses_scheduled_snapshots
                - retention_days
              - title: AWS RDS
                type: object
                description: Configuration for AWS RDS MySQL databases
                properties:
                  size:
                    type: string
                    description: Instance size for the database cluster
                    enum:
                    - db.m8g.large
                    - db.m8g.xlarge
                    - db.m8g.2xlarge
                    - db.m8g.4xlarge
                    - db.m8g.8xlarge
                    - db.m8g.12xlarge
                    - db.m8g.16xlarge
                    - db.m8g.24xlarge
                    - db.m8g.48xlarge
                    - db.m7g.large
                    - db.m7g.xlarge
                    - db.m7g.2xlarge
                    - db.m7g.4xlarge
                    - db.m7g.8xlarge
                    - db.m7g.12xlarge
                    - db.m7g.16xlarge
                    - db.t4g.micro
                    - db.t4g.small
                    - db.t4g.medium
                    - db.t4g.large
                    - db.t4g.xlarge
                    - db.t4g.2xlarge
                    - db.r8g.large
                    - db.r8g.xlarge
                    - db.r8g.2xlarge
                    - db.r8g.4xlarge
                    - db.r8g.8xlarge
                    - db.r8g.12xlarge
                    - db.r8g.16xlarge
                  storage:
                    type: integer
                    description: 'Storage allocation in gigabytes (min: 5, max: 1000)'
                  is_public:
                    type: boolean
                    description: Whether the database is publicly accessible
                  uses_pitr:
                    type: boolean
                    description: Whether point-in-time recovery is enabled
                  retention_days:
                    type: integer
                    description: 'Days to retain backup data (min: 0, max: 30)'
                  maintenance_window:
                    type:
                    - string
                    - 'null'
                    description: UTC maintenance window for automated updates
                    examples:
                    - sun:06:00-sun:06:30
                  deployment_option:
                    type: string
                    description: Deployment configuration (single-az or multi-az)
                    enum:
                    - single-az
                    - single-az-with-read-replicas
                    - multi-az
                  read_replicas:
                    type:
                    - integer
                    - 'null'
                    description: The number of configured read replicas
                required:
                - size
                - storage
                - is_public
                - uses_pitr
                - retention_days
                - deployment_option
              discriminator:
                propertyName: type
                mapping:
                  laravel_mysql_84: '#/components/schemas/LaravelMysqlConfig'
                  laravel_mysql_8: '#/components/schemas/LaravelMysqlConfig'
                  aws_rds_mysql_8: '#/components/schemas/AwsRdsConfig'
                  aws_rds_postgres_18: '#/components/schemas/AwsRdsConfig'
                  neon_serverless_postgres_18: '#/components/schemas/NeonServerlessConfig'
                  neon_serverless_postgres_17: '#/components/schemas/NeonServerlessConfig'
                  neon_serverless_postgres_16: '#/components/schemas/NeonServerlessConfig'
            connection:
              type: object
              properties:
                hostname:
                  type: string
                port:
                  type: integer
                  enum:
                  - 3306
                  - 5432
                protocol:
                  type: string
                  enum:
                  - mysql
                  - postgres
                driver:
                  type: string
                  enum:
                  - mysql
                  - pgsql
                ? ''
                : anyOf:
                  - type: object
                    properties:
                      username:
                        type: string
                      password:
                        type: string
                    required:
                    - username
                    - password
                  - type: array
                    items:
                      type: string
                    minItems: 0
                    maxItems: 0
                    additionalItems: false
              required:
              - hostname
              - port
              - protocol
              - driver
              - null
          required:
          - name
          - type
          - status
          - region
          - created_at
          - config
          - connection
        relationships:
          type: object
          properties:
            schemas:
              type: object
              description: 'TODO: Remove the schemas relationship by March 2026.'
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/DatabaseSchemaResourceIdentifier'
              required:
              - data
            databases:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/DatabaseSchemaResourceIdentifier'
              required:
              - data
      required:
      - id
      - type
      title: DatabaseResource
    WebsocketApplicationResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - websocketApplications
        id:
          type: string
      required:
      - type
      - id
      title: WebsocketApplicationResourceIdentifier
    RateLimitLevel:
      type: string
      enum:
      - challenge
      - throttle
      - ban
      title: RateLimitLevel
    DatabaseResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - databases
        id:
          type: string
      required:
      - type
      - id
      title: DatabaseResourceIdentifier
    EnvironmentStatus:
      type: string
      enum:
      - deploying
      - running
      - hibernating
      - stopped
      title: EnvironmentStatus
    DatabaseSchemaResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - databaseSchemas
        id:
          type: string
      required:
      - type
      - id
      title: DatabaseSchemaResourceIdentifier
    UpdateDatabaseUserRequest:
      type: object
      properties:
        password:
          type:
          - string
          - 'null'
          description: The password for the database user.
          examples:
          - password
          maxLength: 255
        database_ids:
          type: array
          description: The IDs of the databases to assign the user to.
          examples:
          - - 1
            - 2
            - 3
          items:
            type: integer
      title: UpdateDatabaseUserRequest
    DatabaseResource_2:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - databases
        attributes:
          type: object
          properties:
            name:
              type: string
              description: The name of the database schema.
              examples:
              - forge
            status:
              type: string
              description: The status of the database schema.
              enum:
              - installing
              - installed
              - removing
              examples:
              - installed
            created_at:
              type: string
              format: date-time
              description: The date and time the database schema was created.
              examples:
              - '2025-07-29T09:00:00Z'
            updated_at:
              type: string
              format: date-time
              description: The date and time the database schema was last updated.
              examples:
              - '2025-07-30T09:00:00Z'
          required:
          - name
          - status
          - created_at
          - updated_at
        links:
          type: object
          properties:
            self:
              description: A link to the resource itself
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: DatabaseResource
    DeploymentResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - deployments
        id:
          type: string
      required:
      - type
      - id
      title: DeploymentResourceIdentifier
    DomainResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - domains
        id:
          type: string
      required:
      - type
      - id
      title: DomainResourceIdentifier
    CreateDatabaseUserRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the database user to create.
          examples:
          - james
        password:
          type: string
          description: The password for the database user.
          examples:
          - password
          maxLength: 255
        read_only:
          type: boolean
          description: Whether the user should have read-only access to the databases.
          examples:
          - true
        database_ids:
          type: array
          description: The IDs of the databases to assign the user to.
          examples:
          - - 1
            - 2
            - 3
          items:
            type: integer
      required:
      - name
      - password
      title: CreateDatabaseUserRequest
    StoreDatabaseSchemaRequest:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-z0-9_-]+$
          minLength: 3
          maxLength: 40
      required:
      - name
      title: StoreDatabaseSchemaRequest
    DatabaseUserResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - databaseUsers
        attributes:
          type: object
          properties:
            name:
              type: string
              description: The name of the database user.
              examples:
              - forge
            status:
              type: string
              description: The status of the database user.
              enum:
              - installed
              - updating
              - installing
              - removing
              examples:
              - installed
            created_at:
              type: string
              format: date-time
              description: The date and time the database user was created.
              examples:
              - '2025-07-29T09:00:00Z'
            updated_at:
              type: string
              format: date-time
              description: The date and time the database user was last updated.
              examples:
              - '2025-07-30T09:00:00Z'
          required:
          - name
          - status
          - created_at
          - updated_at
        links:
          type: object
          properties:
            self:
              description: A link to the resource itself
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: DatabaseUserResource
    DatabaseStatus:
      type: string
      enum:
      - creating
      - updating
      - restarting
      - upgrading
      - moving
      - available
      - stopped
      - restoring
      - restore_failed
      - disabled
      - snapshotting_before_archiving
      - archiving
      - archived
      - deleting
      - deleted
      - unknown
      title: DatabaseStatus
    BotControlCategory:
      type: string
      enum:
      - academic_research
      - accessibility
      - advertising_and_marketing
      - aggregator
      - ai_assistant
      - ai_crawler
      - ai_search
      - feed_fetcher
      - monitoring_and_analytics
      - page_preview
      - search_engine_crawler
      - search_engine_optimization
      - security
      - social_media_marketing
      - webhooks
      - other
      title: BotControlCategory
    RateLimitPerMinute:
      type: integer
      enum:
      - 100
      - 300
      - 500
      - 750
      - 1000
      title: RateLimitPerMinute
    NodeVersion:
      type: string
      enum:
      - '20'
      - '22'
      - '24'
      title: NodeVersion
    DatabaseType:
      type: string
      enum:
      - laravel_mysql_84
      - laravel_mysql_8
      - aws_rds_mysql_8
      - aws_rds_postgres_18
      - neon_serverless_postgres_18
      - neon_serverless_postgres_17
      - neon_serverless_postgres_16
      title: DatabaseType
    EnvironmentResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - environments
        id:
          type: string
      required:
      - type
      - id
      title: EnvironmentResourceIdentifier
  responses:
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
  securitySchemes:
    http:
      type: http
      description: The Bearer Token generated on the Cloud UI.
      scheme: bearer
      bearerFormat: bearer
