openapi: 3.2.0
info:
  title: Forge Teams API
  version: 0.0.1
  description: Laravel Forge - API Documentation
servers:
- url: https://forge.laravel.com/api
security:
- http: []
- oauth2: []
tags:
- name: Teams
paths:
  /orgs/{organization}/teams:
    get:
      operationId: organizations.teams.index
      description: 'Show all teams for the organization.


        Processing mode: sync'
      summary: List teams
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `TeamResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - team:view
      x-permissions:
      - team:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.teams.store
      description: 'Create a new team for the organization.


        Processing mode: sync'
      summary: Create team
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
      responses:
        '200':
          description: '`TeamResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TeamResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - team:create
      x-permissions:
      - team:create
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/teams/{team}:
    get:
      operationId: organizations.teams.show
      description: 'Show a specific team for the organization.


        Processing mode: sync'
      summary: Get team
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      responses:
        '200':
          description: '`TeamResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TeamResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - team:view
      x-permissions:
      - team:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.teams.update
      description: 'Update a team for the organization.


        Processing mode: sync'
      summary: Update team
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamRequest'
      responses:
        '200':
          description: '`TeamResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TeamResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - team:create
      x-permissions:
      - team:create
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.teams.destroy
      description: 'Delete a team for the organization.


        Processing mode: sync'
      summary: Delete team
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      responses:
        '204':
          description: 'Team deleted successfully''




            No content'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - team:delete
      x-permissions:
      - team:delete
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/teams/{team}/members:
    get:
      operationId: organizations.teams.members.index
      description: 'Show all members for the team.


        Processing mode: sync'
      summary: List team members
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `MembershipResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MembershipResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/RoleResource'
                      - $ref: '#/components/schemas/PermissionResource'
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - team:view
      x-permissions:
      - team:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/teams/{team}/members/{user}:
    get:
      operationId: organizations.teams.members.show
      description: 'Show the team member for the team.


        Processing mode: sync'
      summary: Get team member
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      - name: user
        in: path
        required: true
        description: The user ID
        schema:
          type: integer
      responses:
        '200':
          description: '`MembershipResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MembershipResource'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/RoleResource'
                      - $ref: '#/components/schemas/PermissionResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - team:view
      x-permissions:
      - team:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.teams.members.destroy
      description: 'Remove a member from the team.


        Processing mode: sync'
      summary: Delete team member
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      - name: user
        in: path
        required: true
        description: The user ID
        schema:
          type: integer
      responses:
        '204':
          description: 'Member removed from team




            No content'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - team:delete
      x-permissions:
      - team:delete
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.teams.members.update
      description: 'Update the team member for the team.


        Processing mode: sync'
      summary: Update team member
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      - name: user
        in: path
        required: true
        description: The user ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamMemberRequest'
      responses:
        '200':
          description: '`MembershipResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MembershipResource'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/RoleResource'
                      - $ref: '#/components/schemas/PermissionResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - team:create
      x-permissions:
      - team:create
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/teams/{team}/invites:
    post:
      operationId: organizations.teams.invites.store
      description: 'Invite a new member to the team.


        Processing mode: async'
      summary: Create team invite
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamInviteRequest'
      responses:
        '200':
          description: '`TeamInvitationResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TeamInvitationResource'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/RoleResource'
                      - $ref: '#/components/schemas/TeamResource'
                      - $ref: '#/components/schemas/OrganizationResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - team:create
      x-permissions:
      - team:create
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
    get:
      operationId: organizations.teams.invites.index
      description: 'Show all pending invitations for the team.


        Processing mode: sync'
      summary: List team invitations
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - role
            - roleCount
            - roleExists
            - team
            - teamCount
            - teamExists
            - organization
            - organizationCount
            - organizationExists
        explode: false
      responses:
        '200':
          description: Paginated set of `TeamInvitationResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamInvitationResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/RoleResource'
                      - $ref: '#/components/schemas/TeamResource'
                      - $ref: '#/components/schemas/OrganizationResource'
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - team:view
      x-permissions:
      - team:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/teams/{team}/invites/{invitation}:
    get:
      operationId: organizations.teams.invites.show
      description: 'Show a pending invitation for the team.


        Processing mode: sync'
      summary: Get team invitation
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      - name: invitation
        in: path
        required: true
        description: The invitation ID
        schema:
          type: integer
      responses:
        '200':
          description: '`TeamInvitationResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TeamInvitationResource'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/RoleResource'
                      - $ref: '#/components/schemas/TeamResource'
                      - $ref: '#/components/schemas/OrganizationResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - team:view
      x-permissions:
      - team:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.teams.invites.destroy
      description: 'Cancel a pending invitation for the team.


        Processing mode: sync'
      summary: Delete team invitation
      tags:
      - Teams
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      - name: invitation
        in: path
        required: true
        description: The invitation ID
        schema:
          type: integer
      responses:
        '204':
          description: 'Invitation deleted




            No content'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - team:delete
      x-permissions:
      - team:delete
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
components:
  schemas:
    RoleResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - predefinedRoles
        id:
          type: string
      required:
      - type
      - id
      title: RoleResourceIdentifier
    OrganizationResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - organizations
        id:
          type: string
      required:
      - type
      - id
      title: OrganizationResourceIdentifier
    TeamResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - teams
        id:
          type: string
      required:
      - type
      - id
      title: TeamResourceIdentifier
    CreateTeamRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        users:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              role:
                type: object
                properties:
                  id:
                    type: integer
                required:
                - id
            required:
            - id
        invites:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
                format: email
              role:
                type: object
                properties:
                  id:
                    type: integer
                required:
                - id
            required:
            - email
      required:
      - name
      title: CreateTeamRequest
    UpdateTeamMemberRequest:
      type: object
      properties:
        role_id:
          type: integer
          description: The ID of the role to assign to the team member.
          examples:
          - 3
      required:
      - role_id
      title: UpdateTeamMemberRequest
    UpdateTeamRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        users:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              role:
                type: object
                properties:
                  id:
                    type: integer
                required:
                - id
            required:
            - id
      required:
      - name
      title: UpdateTeamRequest
    OrganizationResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - organizations
        attributes:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - slug
          - created_at
          - updated_at
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: OrganizationResource
    CreateTeamInviteRequest:
      type: object
      properties:
        role_id:
          type: integer
        email:
          type: string
          format: email
      required:
      - role_id
      - email
      title: CreateTeamInviteRequest
    PermissionResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - permissions
        id:
          type: string
      required:
      - type
      - id
      title: PermissionResourceIdentifier
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        rel:
          type: string
        describedby:
          type: string
        title:
          type: string
        type:
          type: string
        hreflang:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        meta:
          type: object
      required:
      - href
      title: Link
    PermissionResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - permissions
        attributes:
          type: object
          properties:
            name:
              type: string
          required:
          - name
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: PermissionResource
    RoleResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - predefinedRoles
        attributes:
          type: object
          properties:
            name:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - created_at
          - updated_at
        relationships:
          type: object
          properties:
            permissions:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/PermissionResourceIdentifier'
              required:
              - data
      required:
      - id
      - type
      title: RoleResource
    TeamInvitationResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - teamInvitations
        attributes:
          type: object
          properties:
            email:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - email
          - created_at
          - updated_at
        relationships:
          type: object
          properties:
            role:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/RoleResourceIdentifier'
                  - type: 'null'
              required:
              - data
            team:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/TeamResourceIdentifier'
                  - type: 'null'
              required:
              - data
            organization:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/OrganizationResourceIdentifier'
                  - type: 'null'
              required:
              - data
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: TeamInvitationResource
    MembershipResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - memberships
        attributes:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - email
          - created_at
          - updated_at
        relationships:
          type: object
          properties:
            role:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/RoleResourceIdentifier'
                  - type: 'null'
              required:
              - data
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: MembershipResource
    TeamResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - teams
        attributes:
          type: object
          properties:
            name:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - created_at
          - updated_at
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: TeamResource
  responses:
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://forge.laravel.com/oauth/authorize
          tokenUrl: https://forge.laravel.com/oauth/token
          scopes:
            organization:view: Allow members to view the organization
            organization:manage: Allow members to manage the organization
            organization:delete: Allow members to delete the organization
            server:view: Allow members to view servers
            server:create: Allow members to create servers
            server:delete: Allow members to delete servers
            server:archive: Allow members to archive servers
            server:transfer: Allow members to transfer servers to another Forge account
            server:manage-meta: Allow members to change server settings such as name and IP address
            server:manage-packages: Allow members to configure and remove server and site package authentication
            server:manage-php: Allow members to install and change PHP installations
            server:manage-logs: Allow members to clear server and site logs
            server:manage-network: Allow members to change the server‘s firewall
            server:manage-nginx-templates: Allow members to manage Nginx templates
            server:manage-services: Allow members to start, stop and restart services
            server:manage-password: Allow members to reset the sudo password
            server:create-keys: Allow members to add SSH keys to servers
            server:delete-keys: Allow members to remove SSH keys from servers
            server:create-monitors: Allow members to create server monitors
            server:delete-monitors: Allow members to delete server monitors
            server:create-databases: Allow members to create databases and database users
            server:delete-databases: Allow members to delete databases and database users
            server:create-backups: Allow members to create database backup configurations
            server:delete-backups: Allow members to delete database backup configurations
            server:create-daemons: Allow members to create daemons
            server:delete-daemons: Allow members to delete daemons
            server:create-schedulers: Allow members to create scheduled jobs
            server:delete-schedulers: Allow members to delete scheduled jobs
            server:web-terminal: Allow members to start web terminal sessions
            site:create: Allow members to create sites
            site:delete: Allow members to delete sites
            site:meta: Allow members to update site meta data such as domain name and aliases
            site:manage-commands: Allow members to run arbitrary commands from the site‘s root directory
            site:manage-deploys: Allow members to deploy the site and update the deployment script
            site:manage-nginx: Allow members to manage the site‘s Nginx configuration file
            site:manage-project: Allow members to install Git repositories, phpMyAdmin and WordPress applications
            site:manage-environment: Allow members to update the site‘s environment file
            site:manage-notifications: Allow members to configure deployment notifications
            site:manage-queues: Allow members to configure queue workers
            site:manage-redirects: Allow members to configure URL redirects
            site:manage-security: Allow members to configure HTTP Basic Authentication
            site:manage-ssl: Allow members to configure SSL and Let‘s Encrypt certificates
            site:manage-integrations: Allow members to manage site integrations
            site:manage-heartbeats: Allow members to manage heartbeats
            credential:view: Allow members to view credentials
            credential:manage: Allow members to manage credentials
            team:view: Allow members to view teams
            team:create: Allow members to create teams
            team:delete: Allow members to delete teams and team members
            recipe:view: Allow members to view recipes
            recipe:manage: Allow members to manage recipes
            billing:manage: Allow members to manage the organization's subscription
            storage:manage: Allow members to manage the organization's storage providers.
            integrations:manage: Allow members to manage the organization's integrations
            user:view: Allow members to view user details
            resources:view: Allow members to view resources
            resources:create-databases: Allow members to create managed database & cache clusters
            resources:delete-databases: Allow members to delete managed database & cache clusters
            resources:manage-databases: Allow members to manage managed database & cache clusters settings
            resources:create-buckets: Allow members to create object storage buckets
            resources:delete-buckets: Allow members to delete object storage buckets
            resources:manage-buckets: Allow members to manage object storage buckets and their access keys
