openapi: 3.1.0
info:
  title: Laravel Cloud Applications Nginx API
  version: 0.0.1
servers:
- url: https://cloud.laravel.com/api
security:
- http: []
tags:
- name: Nginx
paths:
  /orgs/{organization}/servers/{server}/nginx/templates:
    get:
      operationId: organizations.servers.nginx.templates.index
      description: 'List all nginx templates for the server.


        Processing mode: <small><code>sync</code></small>'
      summary: List Nginx templates
      tags:
      - Nginx
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        description: The name of the template.
        schema:
          type: string
          examples:
          - custom
      - name: sort
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - created_at
            - -created_at
            - updated_at
            - -updated_at
            - name
            - -name
        explode: false
      responses:
        '200':
          description: Paginated set of `NginxTemplateResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/NginxTemplateResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.nginx.templates.store
      description: 'Create a new nginx template on the server.


        Processing mode: <small><code>sync</code></small>'
      summary: Create Nginx template
      tags:
      - Nginx
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNginxTemplateRequest'
      responses:
        '200':
          description: '`NginxTemplateResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NginxTemplateResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:manage-nginx-templates
      x-permissions:
      - server:manage-nginx-templates
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/servers/{server}/nginx/templates/{nginxTemplate}:
    get:
      operationId: organizations.servers.nginx.templates.show
      description: 'Get a specific nginx template associated with the server.


        Processing mode: <small><code>sync</code></small>'
      summary: Get Nginx template
      tags:
      - Nginx
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: nginxTemplate
        in: path
        required: true
        description: The nginx template ID
        schema:
          type: integer
      responses:
        '200':
          description: '`NginxTemplateResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NginxTemplateResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.nginx.templates.update
      description: 'Update the specified nginx template on the server.


        Processing mode: <small><code>sync</code></small>'
      summary: Update Nginx template
      tags:
      - Nginx
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: nginxTemplate
        in: path
        required: true
        description: The nginx template ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNginxTemplateRequest'
      responses:
        '200':
          description: '`NginxTemplateResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NginxTemplateResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:manage-nginx-templates
      x-permissions:
      - server:manage-nginx-templates
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.servers.nginx.templates.destroy
      description: 'Delete the specified nginx template from the server.


        Processing mode: <small><code>sync</code></small>'
      summary: Delete Nginx template
      tags:
      - Nginx
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: nginxTemplate
        in: path
        required: true
        description: The nginx template ID
        schema:
          type: integer
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-nginx-templates
      x-permissions:
      - server:manage-nginx-templates
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
components:
  schemas:
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        rel:
          type: string
        describedby:
          type: string
        title:
          type: string
        type:
          type: string
        hreflang:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        meta:
          type: object
      required:
      - href
      title: Link
    UpdateNginxTemplateRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the nginx template.
        content:
          type: string
          description: The content of the nginx template.
      required:
      - name
      - content
      title: UpdateNginxTemplateRequest
    CreateNginxTemplateRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the Nginx template.
        content:
          type: string
          description: The content of the Nginx template.
      required:
      - name
      - content
      title: CreateNginxTemplateRequest
    NginxTemplateResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - nginxTemplates
        attributes:
          type: object
          properties:
            name:
              type: string
            content:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - content
          - created_at
          - updated_at
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: NginxTemplateResource
  responses:
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
  securitySchemes:
    http:
      type: http
      description: The Bearer Token generated on the Cloud UI.
      scheme: bearer
      bearerFormat: bearer
