openapi: 3.2.0
info:
  title: Forge Monitors API
  version: 0.0.1
  description: Laravel Forge - API Documentation
servers:
- url: https://forge.laravel.com/api
security:
- http: []
- oauth2: []
tags:
- name: Monitors
paths:
  /orgs/{organization}/servers/{server}/monitors:
    get:
      operationId: organizations.servers.monitors.index
      description: 'List all monitors associated with the server.


        Processing mode: sync'
      summary: List server monitors
      tags:
      - Monitors
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[status]
        in: query
        description: The status of the monitor.
        schema:
          type: string
          examples:
          - installed
      - name: filter[state]
        in: query
        description: The state of the monitor.
        schema:
          type: string
          examples:
          - OK
      - name: filter[type]
        in: query
        description: The type of the monitor.
        schema:
          type: string
          examples:
          - cpu_load
      - name: filter[notify]
        in: query
        description: The email address to notify when the monitor is in an alert state.
        schema:
          type: string
          examples:
          - taylor@laravel.com
      - name: sort
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - state
            - -state
            - status
            - -status
            - created_at
            - -created_at
            - updated_at
            - -updated_at
        explode: false
      responses:
        '200':
          description: Paginated set of `MonitorResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitorResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.monitors.store
      description: 'Add a new monitor to the server.


        Processing mode: async'
      summary: Create server monitor
      tags:
      - Monitors
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMonitorRequest'
      responses:
        '202':
          description: '`MonitorResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MonitorResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:create-monitors
      x-permissions:
      - server:create-monitors
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/monitors/{monitor}:
    get:
      operationId: organizations.servers.monitors.show
      description: 'Get a specific monitor associated with the server.


        Processing mode: sync'
      summary: Get server monitor
      tags:
      - Monitors
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: monitor
        in: path
        required: true
        description: The monitor ID
        schema:
          type: integer
      responses:
        '200':
          description: '`MonitorResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MonitorResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.servers.monitors.destroy
      description: 'Remove a monitor from the server.


        Processing mode: async'
      summary: Delete server monitor
      tags:
      - Monitors
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: monitor
        in: path
        required: true
        description: The monitor ID
        schema:
          type: integer
      responses:
        '202':
          description: Accepted
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:delete-monitors
      x-permissions:
      - server:delete-monitors
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
components:
  schemas:
    CreateMonitorRequest:
      type: object
      properties:
        type:
          description: The type of the monitor.
          examples:
          - cpu_load
          $ref: '#/components/schemas/MonitorMetricType'
        operator:
          description: The operator used against the threshold.
          examples:
          - gte
          $ref: '#/components/schemas/MonitorOperator'
        threshold:
          type: number
          description: The threshold to alert on once breached.
          examples:
          - 90
        minutes:
          type: integer
          description: The frequency in minutes to evaluate the monitor.
          examples:
          - 1
          minimum: 1
          maximum: 60
        notify:
          type: string
          format: email
          description: The email address to notify when the monitor is in an alert state.
          examples:
          - taylor@laravel.com
      required:
      - type
      - operator
      - threshold
      - notify
      title: CreateMonitorRequest
    MonitorState:
      type: string
      enum:
      - OK
      - ALERT
      - UNKNOWN
      title: MonitorState
    ResourceState:
      type: string
      enum:
      - installing
      - installed
      - removing
      - restarting
      - stopping
      - stopped
      - starting
      - syncing
      - updating
      - disabling
      - disabled
      - enabling
      - running
      - restoring
      - deleting
      - failed
      - success
      - failed-unknown
      - failed-runner
      - renewing
      title: ResourceState
    MonitorMetricType:
      type: string
      enum:
      - cpu_load
      - disk
      - free_memory
      - used_memory
      title: MonitorMetricType
    MonitorOperator:
      type: string
      enum:
      - gte
      - lte
      title: MonitorOperator
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        rel:
          type: string
        describedby:
          type: string
        title:
          type: string
        type:
          type: string
        hreflang:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        meta:
          type: object
      required:
      - href
      title: Link
    MonitorResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - monitors
        attributes:
          type: object
          properties:
            type:
              description: The type of the monitor.
              examples:
              - cpu_load
              $ref: '#/components/schemas/MonitorMetricType'
            operator:
              description: The operator used against the threshold.
              examples:
              - gte
              $ref: '#/components/schemas/MonitorOperator'
            threshold:
              type: number
              description: The threshold to alert on once breached.
              examples:
              - 90
            minutes:
              type:
              - integer
              - 'null'
              description: The frequency in minutes to evaluate the monitor.
              examples:
              - 1
            notify:
              type: string
              description: The email address to notify when the monitor is in an alert state.
              examples:
              - taylor@laravel.com
            status:
              description: The status of the monitor.
              examples:
              - installed
              $ref: '#/components/schemas/ResourceState'
            state:
              description: The state of the monitor.
              examples:
              - OK
              $ref: '#/components/schemas/MonitorState'
            state_changed_at:
              type:
              - string
              - 'null'
              format: date-time
              description: The date and time the monitor state was last changed.
              examples:
              - '2025-07-30T09:00:00Z'
            created_at:
              type: string
              format: date-time
              description: The date and time the monitor was created.
              examples:
              - '2025-07-29T09:00:00Z'
            updated_at:
              type: string
              format: date-time
              description: The date and time the monitor was last updated.
              examples:
              - '2025-07-30T09:00:00Z'
          required:
          - type
          - operator
          - threshold
          - minutes
          - notify
          - status
          - state
          - state_changed_at
          - created_at
          - updated_at
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: MonitorResource
  responses:
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://forge.laravel.com/oauth/authorize
          tokenUrl: https://forge.laravel.com/oauth/token
          scopes:
            organization:view: Allow members to view the organization
            organization:manage: Allow members to manage the organization
            organization:delete: Allow members to delete the organization
            server:view: Allow members to view servers
            server:create: Allow members to create servers
            server:delete: Allow members to delete servers
            server:archive: Allow members to archive servers
            server:transfer: Allow members to transfer servers to another Forge account
            server:manage-meta: Allow members to change server settings such as name and IP address
            server:manage-packages: Allow members to configure and remove server and site package authentication
            server:manage-php: Allow members to install and change PHP installations
            server:manage-logs: Allow members to clear server and site logs
            server:manage-network: Allow members to change the server‘s firewall
            server:manage-nginx-templates: Allow members to manage Nginx templates
            server:manage-services: Allow members to start, stop and restart services
            server:manage-password: Allow members to reset the sudo password
            server:create-keys: Allow members to add SSH keys to servers
            server:delete-keys: Allow members to remove SSH keys from servers
            server:create-monitors: Allow members to create server monitors
            server:delete-monitors: Allow members to delete server monitors
            server:create-databases: Allow members to create databases and database users
            server:delete-databases: Allow members to delete databases and database users
            server:create-backups: Allow members to create database backup configurations
            server:delete-backups: Allow members to delete database backup configurations
            server:create-daemons: Allow members to create daemons
            server:delete-daemons: Allow members to delete daemons
            server:create-schedulers: Allow members to create scheduled jobs
            server:delete-schedulers: Allow members to delete scheduled jobs
            server:web-terminal: Allow members to start web terminal sessions
            site:create: Allow members to create sites
            site:delete: Allow members to delete sites
            site:meta: Allow members to update site meta data such as domain name and aliases
            site:manage-commands: Allow members to run arbitrary commands from the site‘s root directory
            site:manage-deploys: Allow members to deploy the site and update the deployment script
            site:manage-nginx: Allow members to manage the site‘s Nginx configuration file
            site:manage-project: Allow members to install Git repositories, phpMyAdmin and WordPress applications
            site:manage-environment: Allow members to update the site‘s environment file
            site:manage-notifications: Allow members to configure deployment notifications
            site:manage-queues: Allow members to configure queue workers
            site:manage-redirects: Allow members to configure URL redirects
            site:manage-security: Allow members to configure HTTP Basic Authentication
            site:manage-ssl: Allow members to configure SSL and Let‘s Encrypt certificates
            site:manage-integrations: Allow members to manage site integrations
            site:manage-heartbeats: Allow members to manage heartbeats
            credential:view: Allow members to view credentials
            credential:manage: Allow members to manage credentials
            team:view: Allow members to view teams
            team:create: Allow members to create teams
            team:delete: Allow members to delete teams and team members
            recipe:view: Allow members to view recipes
            recipe:manage: Allow members to manage recipes
            billing:manage: Allow members to manage the organization's subscription
            storage:manage: Allow members to manage the organization's storage providers.
            integrations:manage: Allow members to manage the organization's integrations
            user:view: Allow members to view user details
            resources:view: Allow members to view resources
            resources:create-databases: Allow members to create managed database & cache clusters
            resources:delete-databases: Allow members to delete managed database & cache clusters
            resources:manage-databases: Allow members to manage managed database & cache clusters settings
            resources:create-buckets: Allow members to create object storage buckets
            resources:delete-buckets: Allow members to delete object storage buckets
            resources:manage-buckets: Allow members to manage object storage buckets and their access keys
