openapi: 3.2.0
info:
  title: Forge Roles API
  version: 0.0.1
  description: Laravel Forge - API Documentation
servers:
- url: https://forge.laravel.com/api
security:
- http: []
- oauth2: []
tags:
- name: Roles
paths:
  /predefined-roles:
    get:
      operationId: predefined-roles.index
      description: 'Show all predefined roles.


        Processing mode: sync'
      summary: List predefined roles
      tags:
      - Roles
      parameters:
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        schema:
          type: string
      - name: filter[permissions.name]
        in: query
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - permissions
            - permissionsCount
            - permissionsExists
        explode: false
      responses:
        '200':
          description: Paginated set of `PredefinedRoleResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PredefinedRoleResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/PermissionResource'
                required:
                - data
                - links
                - meta
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /predefined-roles/{role}:
    get:
      operationId: predefined-roles.show
      description: 'Show a specific predefined role.


        Processing mode: sync'
      summary: Get predefined role
      tags:
      - Roles
      parameters:
      - name: role
        in: path
        required: true
        description: The role ID
        schema:
          type: integer
      responses:
        '200':
          description: '`PredefinedRoleResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PredefinedRoleResource'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/PermissionResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /permissions:
    get:
      operationId: permissions.index
      description: 'Show all permissions.


        Processing mode: sync'
      summary: List permissions
      tags:
      - Roles
      parameters:
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `PermissionResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PermissionResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /permissions/{permission}:
    get:
      operationId: permissions.show
      description: 'Show a specific permission.


        Processing mode: sync'
      summary: Get permission
      tags:
      - Roles
      parameters:
      - name: permission
        in: path
        required: true
        description: The permission ID
        schema:
          type: integer
      responses:
        '200':
          description: '`PermissionResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PermissionResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/roles:
    post:
      operationId: organizations.roles.store
      description: 'Create a new role for the organization.


        Processing mode: sync'
      summary: Create role
      tags:
      - Roles
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
      responses:
        '200':
          description: '`CustomRoleResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomRoleResource'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/PermissionResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - organization:manage
      x-permissions:
      - organization:manage
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    get:
      operationId: organizations.roles.index
      description: 'Show all roles for the organization.


        Processing mode: sync'
      summary: List roles
      tags:
      - Roles
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        schema:
          type: string
      - name: filter[permissions.name]
        in: query
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - permissions
            - permissionsCount
            - permissionsExists
        explode: false
      responses:
        '200':
          description: Paginated set of `CustomRoleResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomRoleResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/PermissionResource'
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - organization:view
      x-permissions:
      - organization:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/roles/{role}:
    get:
      operationId: organizations.roles.show
      description: 'Show a specific role for the organization.


        Processing mode: sync'
      summary: Get role
      tags:
      - Roles
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: role
        in: path
        required: true
        description: The role ID
        schema:
          type: integer
      responses:
        '200':
          description: '`CustomRoleResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomRoleResource'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/PermissionResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - organization:view
      x-permissions:
      - organization:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.roles.update
      description: 'Update a role for the organization.


        Processing mode: sync'
      summary: Update role
      tags:
      - Roles
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: role
        in: path
        required: true
        description: The role ID
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateRoleRequest'
              - type: object
                properties:
                  description:
                    type: string
      responses:
        '200':
          description: '`CustomRoleResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomRoleResource'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/PermissionResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - organization:manage
      x-permissions:
      - organization:manage
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.roles.destroy
      description: 'Delete a role from the organization.


        Processing mode: sync'
      summary: Delete role
      tags:
      - Roles
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: role
        in: path
        required: true
        description: The role ID
        schema:
          type: integer
      responses:
        '204':
          description: 'Role removed successfully




            No content'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - organization:manage
      x-permissions:
      - organization:manage
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/roles/{role}/permissions:
    get:
      operationId: organizations.roles.permissions.index
      description: 'Show all permissions for the role.


        Processing mode: sync'
      summary: List role permissions
      tags:
      - Roles
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: role
        in: path
        required: true
        description: The role ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `PermissionResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PermissionResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - organization:view
      x-permissions:
      - organization:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
components:
  schemas:
    CustomRoleResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - customRoles
        attributes:
          type: object
          properties:
            name:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - created_at
          - updated_at
        relationships:
          type: object
          properties:
            permissions:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/PermissionResourceIdentifier'
              required:
              - data
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: CustomRoleResource
    UpdateRoleRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 50
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
      required:
      - name
      title: UpdateRoleRequest
    Permission:
      type: string
      enum:
      - organization:view
      - organization:manage
      - organization:delete
      - server:view
      - server:create
      - server:delete
      - server:archive
      - server:transfer
      - server:manage-meta
      - server:manage-packages
      - server:manage-php
      - server:manage-logs
      - server:manage-network
      - server:manage-nginx-templates
      - server:manage-services
      - server:manage-password
      - server:create-keys
      - server:delete-keys
      - server:create-monitors
      - server:delete-monitors
      - server:create-databases
      - server:delete-databases
      - server:create-backups
      - server:delete-backups
      - server:create-daemons
      - server:delete-daemons
      - server:create-schedulers
      - server:delete-schedulers
      - server:web-terminal
      - site:create
      - site:delete
      - site:meta
      - site:manage-commands
      - site:manage-deploys
      - site:manage-nginx
      - site:manage-project
      - site:manage-environment
      - site:manage-notifications
      - site:manage-queues
      - site:manage-redirects
      - site:manage-security
      - site:manage-ssl
      - site:manage-integrations
      - site:manage-heartbeats
      - credential:view
      - credential:manage
      - team:view
      - team:create
      - team:delete
      - recipe:view
      - recipe:manage
      - billing:manage
      - storage:manage
      - integrations:manage
      - user:view
      - resources:view
      - resources:create-databases
      - resources:delete-databases
      - resources:manage-databases
      - resources:create-buckets
      - resources:delete-buckets
      - resources:manage-buckets
      title: Permission
    CreateRoleRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 50
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
      required:
      - name
      title: CreateRoleRequest
    PredefinedRoleResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - predefinedRoles
        attributes:
          type: object
          properties:
            name:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - created_at
          - updated_at
        relationships:
          type: object
          properties:
            permissions:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/PermissionResourceIdentifier'
              required:
              - data
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: PredefinedRoleResource
    PermissionResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - permissions
        id:
          type: string
      required:
      - type
      - id
      title: PermissionResourceIdentifier
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        rel:
          type: string
        describedby:
          type: string
        title:
          type: string
        type:
          type: string
        hreflang:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        meta:
          type: object
      required:
      - href
      title: Link
    PermissionResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - permissions
        attributes:
          type: object
          properties:
            name:
              type: string
          required:
          - name
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: PermissionResource
  responses:
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://forge.laravel.com/oauth/authorize
          tokenUrl: https://forge.laravel.com/oauth/token
          scopes:
            organization:view: Allow members to view the organization
            organization:manage: Allow members to manage the organization
            organization:delete: Allow members to delete the organization
            server:view: Allow members to view servers
            server:create: Allow members to create servers
            server:delete: Allow members to delete servers
            server:archive: Allow members to archive servers
            server:transfer: Allow members to transfer servers to another Forge account
            server:manage-meta: Allow members to change server settings such as name and IP address
            server:manage-packages: Allow members to configure and remove server and site package authentication
            server:manage-php: Allow members to install and change PHP installations
            server:manage-logs: Allow members to clear server and site logs
            server:manage-network: Allow members to change the server‘s firewall
            server:manage-nginx-templates: Allow members to manage Nginx templates
            server:manage-services: Allow members to start, stop and restart services
            server:manage-password: Allow members to reset the sudo password
            server:create-keys: Allow members to add SSH keys to servers
            server:delete-keys: Allow members to remove SSH keys from servers
            server:create-monitors: Allow members to create server monitors
            server:delete-monitors: Allow members to delete server monitors
            server:create-databases: Allow members to create databases and database users
            server:delete-databases: Allow members to delete databases and database users
            server:create-backups: Allow members to create database backup configurations
            server:delete-backups: Allow members to delete database backup configurations
            server:create-daemons: Allow members to create daemons
            server:delete-daemons: Allow members to delete daemons
            server:create-schedulers: Allow members to create scheduled jobs
            server:delete-schedulers: Allow members to delete scheduled jobs
            server:web-terminal: Allow members to start web terminal sessions
            site:create: Allow members to create sites
            site:delete: Allow members to delete sites
            site:meta: Allow members to update site meta data such as domain name and aliases
            site:manage-commands: Allow members to run arbitrary commands from the site‘s root directory
            site:manage-deploys: Allow members to deploy the site and update the deployment script
            site:manage-nginx: Allow members to manage the site‘s Nginx configuration file
            site:manage-project: Allow members to install Git repositories, phpMyAdmin and WordPress applications
            site:manage-environment: Allow members to update the site‘s environment file
            site:manage-notifications: Allow members to configure deployment notifications
            site:manage-queues: Allow members to configure queue workers
            site:manage-redirects: Allow members to configure URL redirects
            site:manage-security: Allow members to configure HTTP Basic Authentication
            site:manage-ssl: Allow members to configure SSL and Let‘s Encrypt certificates
            site:manage-integrations: Allow members to manage site integrations
            site:manage-heartbeats: Allow members to manage heartbeats
            credential:view: Allow members to view credentials
            credential:manage: Allow members to manage credentials
            team:view: Allow members to view teams
            team:create: Allow members to create teams
            team:delete: Allow members to delete teams and team members
            recipe:view: Allow members to view recipes
            recipe:manage: Allow members to manage recipes
            billing:manage: Allow members to manage the organization's subscription
            storage:manage: Allow members to manage the organization's storage providers.
            integrations:manage: Allow members to manage the organization's integrations
            user:view: Allow members to view user details
            resources:view: Allow members to view resources
            resources:create-databases: Allow members to create managed database & cache clusters
            resources:delete-databases: Allow members to delete managed database & cache clusters
            resources:manage-databases: Allow members to manage managed database & cache clusters settings
            resources:create-buckets: Allow members to create object storage buckets
            resources:delete-buckets: Allow members to delete object storage buckets
            resources:manage-buckets: Allow members to manage object storage buckets and their access keys
