openapi: 3.2.0
info:
  title: Laravel Cloud Bucket Keys API
  version: 0.0.1
servers:
- url: https://cloud.laravel.com/api
security:
- http: []
tags:
- name: Bucket Keys
paths:
  /buckets/{filesystem}/keys:
    get:
      operationId: public.buckets.keys.index
      description: Get a list of all keys for a specific object storage bucket.
      summary: List object storage keys
      tags:
      - Bucket Keys
      parameters:
      - name: filesystem
        in: path
        required: true
        description: The filesystem identifier
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - filesystem
        explode: false
      responses:
        '200':
          description: Paginated set of `FilesystemKeyResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilesystemKeyResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        minimum: 1
                      from:
                        type:
                        - integer
                        - 'null'
                        minimum: 1
                      last_page:
                        type: integer
                        minimum: 1
                      links:
                        type: array
                        description: Generated paginator links.
                        items:
                          type: object
                          properties:
                            url:
                              type:
                              - string
                              - 'null'
                            label:
                              type: string
                            active:
                              type: boolean
                          required:
                          - url
                          - label
                          - active
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      to:
                        type:
                        - integer
                        - 'null'
                        description: Number of the last item in the slice.
                        minimum: 1
                      total:
                        type: integer
                        description: Total number of items being paginated.
                        minimum: 0
                    required:
                    - current_page
                    - from
                    - last_page
                    - links
                    - path
                    - per_page
                    - to
                    - total
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilesystemResource'
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
    post:
      operationId: public.buckets.keys.store
      description: Create a new key for an object storage bucket.
      summary: Create object storage key
      tags:
      - Bucket Keys
      parameters:
      - name: filesystem
        in: path
        required: true
        description: The filesystem identifier
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreFilesystemKeyRequest'
      responses:
        '201':
          description: '`FilesystemKeyResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FilesystemKeyResource'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilesystemResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
  /bucket-keys/{filesystemKey}:
    get:
      operationId: public.bucket-keys.show
      description: Get a specific object storage key.
      summary: Get object storage key
      tags:
      - Bucket Keys
      parameters:
      - name: filesystemKey
        in: path
        required: true
        description: The filesystem key identifier
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - filesystem
        explode: false
      responses:
        '200':
          description: '`FilesystemKeyResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FilesystemKeyResource'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilesystemResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
    patch:
      operationId: public.bucket-keys.update
      description: Update an object storage key.
      summary: Update object storage key
      tags:
      - Bucket Keys
      parameters:
      - name: filesystemKey
        in: path
        required: true
        description: The filesystem key identifier
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFilesystemKeyRequest'
      responses:
        '200':
          description: '`FilesystemKeyResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FilesystemKeyResource'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilesystemResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
    delete:
      operationId: public.bucket-keys.destroy
      description: Delete an object storage key.
      summary: Delete object storage key
      tags:
      - Bucket Keys
      parameters:
      - name: filesystemKey
        in: path
        required: true
        description: The filesystem key identifier
        schema:
          type: string
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
components:
  schemas:
    FilesystemKeyResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - filesystemKeys
        id:
          type: string
      required:
      - type
      - id
      title: FilesystemKeyResourceIdentifier
    FilesystemKeyPermission:
      type: string
      enum:
      - read_write
      - read_only
      title: FilesystemKeyPermission
    FilesystemStatus:
      type: string
      enum:
      - creating
      - updating
      - available
      - deleting
      - deleted
      - unknown
      title: FilesystemStatus
    FilesystemResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - filesystems
        attributes:
          type: object
          properties:
            name:
              type: string
            type:
              $ref: '#/components/schemas/FilesystemType'
            status:
              $ref: '#/components/schemas/FilesystemStatus'
            visibility:
              $ref: '#/components/schemas/FilesystemVisibility'
            jurisdiction:
              $ref: '#/components/schemas/FilesystemJurisdiction'
            endpoint:
              type:
              - string
              - 'null'
            url:
              type:
              - string
              - 'null'
            allowed_origins:
              type: 'null'
            cors_settings:
              type: 'null'
            created_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - type
          - status
          - visibility
          - jurisdiction
          - endpoint
          - url
          - allowed_origins
          - cors_settings
          - created_at
        relationships:
          type: object
          properties:
            keys:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/FilesystemKeyResourceIdentifier'
              required:
              - data
      required:
      - id
      - type
      title: FilesystemResource
    FilesystemVisibility:
      type: string
      enum:
      - private
      - public
      title: FilesystemVisibility
    FilesystemType:
      type: string
      enum:
      - cloudflare_r2
      title: FilesystemType
    FilesystemResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - filesystems
        id:
          type: string
      required:
      - type
      - id
      title: FilesystemResourceIdentifier
    UpdateFilesystemKeyRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 40
      required:
      - name
      title: UpdateFilesystemKeyRequest
    FilesystemJurisdiction:
      type: string
      enum:
      - default
      - eu
      title: FilesystemJurisdiction
    StoreFilesystemKeyRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 40
        permission:
          $ref: '#/components/schemas/FilesystemKeyPermission'
      required:
      - name
      - permission
      title: StoreFilesystemKeyRequest
    FilesystemKeyResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - filesystemKeys
        attributes:
          type: object
          properties:
            name:
              type: string
            permission:
              $ref: '#/components/schemas/FilesystemKeyPermission'
            access_key_id:
              type:
              - string
              - 'null'
            access_key_secret:
              type:
              - string
              - 'null'
            created_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - permission
          - access_key_id
          - access_key_secret
          - created_at
        relationships:
          type: object
          properties:
            filesystem:
              type: object
              properties:
                data:
                  anyOf:
                  - $ref: '#/components/schemas/FilesystemResourceIdentifier'
                  - type: 'null'
              required:
              - data
      required:
      - id
      - type
      title: FilesystemKeyResource
  responses:
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      description: The Bearer Token generated on the Cloud UI.
      scheme: bearer
      bearerFormat: bearer
