openapi: 3.1.0
info:
  title: Laravel Cloud Applications User API
  version: 0.0.1
servers:
- url: https://cloud.laravel.com/api
security:
- http: []
tags:
- name: User
paths:
  /user:
    get:
      operationId: user.show
      description: 'Show the authenticated user.


        Processing mode: <small><code>sync</code></small>'
      summary: Get user
      tags:
      - User
      responses:
        '200':
          description: '`UserResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
                required:
                - data
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - user:view
      x-permissions:
      - user:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /me:
    get:
      operationId: me
      description: 'Show the authenticated user.


        Processing mode: <small><code>sync</code></small>'
      summary: Get user
      tags:
      - User
      responses:
        '200':
          description: '`UserResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
                required:
                - data
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - user:view
      x-permissions:
      - user:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
components:
  schemas:
    UserResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - users
        attributes:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - email
          - created_at
          - updated_at
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: UserResource
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        rel:
          type: string
        describedby:
          type: string
        title:
          type: string
        type:
          type: string
        hreflang:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        meta:
          type: object
      required:
      - href
      title: Link
  responses:
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      description: The Bearer Token generated on the Cloud UI.
      scheme: bearer
      bearerFormat: bearer
