openapi: 3.2.0
info:
  title: Forge Backups API
  version: 0.0.1
  description: Laravel Forge - API Documentation
servers:
- url: https://forge.laravel.com/api
security:
- http: []
- oauth2: []
tags:
- name: Backups
paths:
  /orgs/{organization}/servers/{server}/database/backups:
    get:
      operationId: organizations.servers.database.backups.index
      description: 'List all backup configurations for the server.


        Processing mode: sync'
      summary: List backup configurations
      tags:
      - Backups
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        description: The name of the backup configuration.
        schema:
          type: string
          examples:
          - daily-backup
      - name: filter[status]
        in: query
        description: The status of the backup configuration.
        schema:
          type: string
          examples:
          - installed
      - name: sort
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
            - created_at
            - -created_at
            - updated_at
            - -updated_at
        explode: false
      responses:
        '200':
          description: Paginated set of `BackupConfigurationResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BackupConfigurationResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.database.backups.store
      description: 'Create a new backup configuration for the server.


        Processing mode: async'
      summary: Create backup configuration
      tags:
      - Backups
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackupConfigurationRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:create-backups
      x-permissions:
      - server:create-backups
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/database/backups/{backupConfiguration}:
    get:
      operationId: organizations.servers.database.backups.show
      description: 'Get a specific backup configuration for the server.


        Processing mode: sync'
      summary: Get backup configuration
      tags:
      - Backups
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: backupConfiguration
        in: path
        required: true
        description: The backup configuration ID
        schema:
          type: integer
      responses:
        '200':
          description: '`BackupConfigurationResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BackupConfigurationResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.database.backups.update
      description: 'Update an existing backup configuration for the server.


        Processing mode: async'
      summary: Update backup configuration
      tags:
      - Backups
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: backupConfiguration
        in: path
        required: true
        description: The backup configuration ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBackupConfigurationRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:create-backups
      x-permissions:
      - server:create-backups
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
    delete:
      operationId: organizations.servers.database.backups.destroy
      description: 'Delete a backup configuration from the server.


        Processing mode: async'
      summary: Delete backup configuration
      tags:
      - Backups
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: backupConfiguration
        in: path
        required: true
        description: The backup configuration ID
        schema:
          type: integer
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:delete-backups
      x-permissions:
      - server:delete-backups
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/database/backups/{backupConfiguration}/instances:
    get:
      operationId: organizations.servers.database.backups.instances.index
      description: 'List all backup instances for the backup configuration.


        Processing mode: sync'
      summary: List backups
      tags:
      - Backups
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: backupConfiguration
        in: path
        required: true
        description: The backup configuration ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[status]
        in: query
        description: The status of the backup.
        schema:
          type: string
          examples:
          - finished
      - name: sort
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - created_at
            - -created_at
            - updated_at
            - -updated_at
        explode: false
      responses:
        '200':
          description: Paginated set of `BackupResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BackupResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:create-backups
      x-permissions:
      - server:create-backups
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.database.backups.instances.store
      description: 'Manually create a backup for the server.


        Processing mode: async'
      summary: Create backup
      tags:
      - Backups
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: backupConfiguration
        in: path
        required: true
        description: The backup configuration ID
        schema:
          type: integer
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:create-backups
      x-permissions:
      - server:create-backups
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/database/backups/{backupConfiguration}/instances/{backup}:
    get:
      operationId: organizations.servers.database.backups.instances.show
      description: 'Get a specific backup instance associated with the backup configuration.


        Processing mode: sync'
      summary: Get backup
      tags:
      - Backups
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: backupConfiguration
        in: path
        required: true
        description: The backup configuration ID
        schema:
          type: integer
      - name: backup
        in: path
        required: true
        description: The backup ID
        schema:
          type: integer
      responses:
        '200':
          description: '`BackupResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BackupResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:create-backups
      x-permissions:
      - server:create-backups
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.servers.database.backups.instances.destroy
      description: 'Delete a backup instance from the server.


        Processing mode: async'
      summary: Delete backup
      tags:
      - Backups
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: backupConfiguration
        in: path
        required: true
        description: The backup configuration ID
        schema:
          type: integer
      - name: backup
        in: path
        required: true
        description: The backup ID
        schema:
          type: integer
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:delete-backups
      x-permissions:
      - server:delete-backups
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/database/backups/{backupConfiguration}/instances/{backup}/restores:
    post:
      operationId: organizations.servers.database.backups.instances.restores.store
      description: 'Restore the given database from the backup.


        Processing mode: async'
      summary: Create a database restore from backup
      tags:
      - Backups
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: backupConfiguration
        in: path
        required: true
        description: The backup configuration ID
        schema:
          type: integer
      - name: backup
        in: path
        required: true
        description: The backup ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreBackupRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:create-backups
      x-permissions:
      - server:create-backups
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
components:
  schemas:
    BackupConfigurationResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - backupConfigurations
        attributes:
          type: object
          properties:
            name:
              type: string
            storage_provider_id:
              type:
              - integer
              - 'null'
            provider:
              type: string
            bucket:
              type:
              - string
              - 'null'
            directory:
              type: string
            schedule:
              type: string
            displayable_schedule:
              type: string
            next_run_time:
              type: string
            status:
              type: string
            day_of_week:
              type:
              - integer
              - 'null'
            time:
              type:
              - string
              - 'null'
            cron_schedule:
              type:
              - string
              - 'null'
            database_ids:
              type: array
              items: {}
            include_new_databases:
              type: boolean
            retention:
              type: integer
            notify_email:
              type:
              - string
              - 'null'
          required:
          - name
          - storage_provider_id
          - provider
          - bucket
          - directory
          - schedule
          - displayable_schedule
          - next_run_time
          - status
          - day_of_week
          - time
          - cron_schedule
          - database_ids
          - include_new_databases
          - retention
          - notify_email
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: BackupConfigurationResource
    UpdateBackupConfigurationRequest:
      type: object
      properties:
        storage_provider_id:
          type: integer
        name:
          type:
          - string
          - 'null'
          maxLength: 255
        bucket:
          type:
          - string
          - 'null'
        directory:
          type:
          - string
          - 'null'
        frequency:
          $ref: '#/components/schemas/BackupFrequency'
        day:
          type: string
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
        time:
          type: string
          enum:
          - 00:00
          - 00:30
          - 01:00
          - 01:30
          - 02:00
          - 02:30
          - 03:00
          - 03:30
          - 04:00
          - 04:30
          - 05:00
          - 05:30
          - 06:00
          - 06:30
          - 07:00
          - 07:30
          - 08:00
          - 08:30
          - 09:00
          - 09:30
          - '10:00'
          - '10:30'
          - '11:00'
          - '11:30'
          - '12:00'
          - '12:30'
          - '13:00'
          - '13:30'
          - '14:00'
          - '14:30'
          - '15:00'
          - '15:30'
          - '16:00'
          - '16:30'
          - '17:00'
          - '17:30'
          - '18:00'
          - '18:30'
          - '19:00'
          - '19:30'
          - '20:00'
          - '20:30'
          - '21:00'
          - '21:30'
          - '22:00'
          - '22:30'
          - '23:00'
          - '23:30'
        cron:
          type: string
        include_new_databases:
          type: boolean
        retention:
          type: integer
          minimum: 1
          maximum: 8760
        notification_email:
          type:
          - string
          - 'null'
          format: email
        database_ids:
          type: array
          items:
            type: integer
          minItems: 1
      required:
      - storage_provider_id
      - frequency
      - retention
      - database_ids
      title: UpdateBackupConfigurationRequest
    BackupResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - backups
        attributes:
          type: object
          properties:
            status:
              type: string
            is_partial:
              type: string
            size:
              type: integer
            finished_at:
              type:
              - integer
              - 'null'
          required:
          - status
          - is_partial
          - size
          - finished_at
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: BackupResource
    CreateBackupConfigurationRequest:
      type: object
      properties:
        storage_provider_id:
          type: integer
        name:
          type:
          - string
          - 'null'
          maxLength: 255
        bucket:
          type:
          - string
          - 'null'
        directory:
          type:
          - string
          - 'null'
        frequency:
          $ref: '#/components/schemas/BackupFrequency'
        day:
          type: string
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
        time:
          type: string
          enum:
          - 00:00
          - 00:30
          - 01:00
          - 01:30
          - 02:00
          - 02:30
          - 03:00
          - 03:30
          - 04:00
          - 04:30
          - 05:00
          - 05:30
          - 06:00
          - 06:30
          - 07:00
          - 07:30
          - 08:00
          - 08:30
          - 09:00
          - 09:30
          - '10:00'
          - '10:30'
          - '11:00'
          - '11:30'
          - '12:00'
          - '12:30'
          - '13:00'
          - '13:30'
          - '14:00'
          - '14:30'
          - '15:00'
          - '15:30'
          - '16:00'
          - '16:30'
          - '17:00'
          - '17:30'
          - '18:00'
          - '18:30'
          - '19:00'
          - '19:30'
          - '20:00'
          - '20:30'
          - '21:00'
          - '21:30'
          - '22:00'
          - '22:30'
          - '23:00'
          - '23:30'
        cron:
          type: string
        include_new_databases:
          type: boolean
        retention:
          type: integer
          minimum: 1
          maximum: 8760
        notification_email:
          type:
          - string
          - 'null'
          format: email
        database_ids:
          type: array
          items:
            type: integer
          minItems: 1
      required:
      - storage_provider_id
      - frequency
      - retention
      - database_ids
      title: CreateBackupConfigurationRequest
    RestoreBackupRequest:
      type: object
      properties:
        database_id:
          type: integer
      required:
      - database_id
      title: RestoreBackupRequest
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        rel:
          type: string
        describedby:
          type: string
        title:
          type: string
        type:
          type: string
        hreflang:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        meta:
          type: object
      required:
      - href
      title: Link
    BackupFrequency:
      type: string
      enum:
      - hourly
      - daily
      - weekly
      - custom
      title: BackupFrequency
  responses:
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://forge.laravel.com/oauth/authorize
          tokenUrl: https://forge.laravel.com/oauth/token
          scopes:
            organization:view: Allow members to view the organization
            organization:manage: Allow members to manage the organization
            organization:delete: Allow members to delete the organization
            server:view: Allow members to view servers
            server:create: Allow members to create servers
            server:delete: Allow members to delete servers
            server:archive: Allow members to archive servers
            server:transfer: Allow members to transfer servers to another Forge account
            server:manage-meta: Allow members to change server settings such as name and IP address
            server:manage-packages: Allow members to configure and remove server and site package authentication
            server:manage-php: Allow members to install and change PHP installations
            server:manage-logs: Allow members to clear server and site logs
            server:manage-network: Allow members to change the server‘s firewall
            server:manage-nginx-templates: Allow members to manage Nginx templates
            server:manage-services: Allow members to start, stop and restart services
            server:manage-password: Allow members to reset the sudo password
            server:create-keys: Allow members to add SSH keys to servers
            server:delete-keys: Allow members to remove SSH keys from servers
            server:create-monitors: Allow members to create server monitors
            server:delete-monitors: Allow members to delete server monitors
            server:create-databases: Allow members to create databases and database users
            server:delete-databases: Allow members to delete databases and database users
            server:create-backups: Allow members to create database backup configurations
            server:delete-backups: Allow members to delete database backup configurations
            server:create-daemons: Allow members to create daemons
            server:delete-daemons: Allow members to delete daemons
            server:create-schedulers: Allow members to create scheduled jobs
            server:delete-schedulers: Allow members to delete scheduled jobs
            server:web-terminal: Allow members to start web terminal sessions
            site:create: Allow members to create sites
            site:delete: Allow members to delete sites
            site:meta: Allow members to update site meta data such as domain name and aliases
            site:manage-commands: Allow members to run arbitrary commands from the site‘s root directory
            site:manage-deploys: Allow members to deploy the site and update the deployment script
            site:manage-nginx: Allow members to manage the site‘s Nginx configuration file
            site:manage-project: Allow members to install Git repositories, phpMyAdmin and WordPress applications
            site:manage-environment: Allow members to update the site‘s environment file
            site:manage-notifications: Allow members to configure deployment notifications
            site:manage-queues: Allow members to configure queue workers
            site:manage-redirects: Allow members to configure URL redirects
            site:manage-security: Allow members to configure HTTP Basic Authentication
            site:manage-ssl: Allow members to configure SSL and Let‘s Encrypt certificates
            site:manage-integrations: Allow members to manage site integrations
            site:manage-heartbeats: Allow members to manage heartbeats
            credential:view: Allow members to view credentials
            credential:manage: Allow members to manage credentials
            team:view: Allow members to view teams
            team:create: Allow members to create teams
            team:delete: Allow members to delete teams and team members
            recipe:view: Allow members to view recipes
            recipe:manage: Allow members to manage recipes
            billing:manage: Allow members to manage the organization's subscription
            storage:manage: Allow members to manage the organization's storage providers.
            integrations:manage: Allow members to manage the organization's integrations
            user:view: Allow members to view user details
            resources:view: Allow members to view resources
            resources:create-databases: Allow members to create managed database & cache clusters
            resources:delete-databases: Allow members to delete managed database & cache clusters
            resources:manage-databases: Allow members to manage managed database & cache clusters settings
            resources:create-buckets: Allow members to create object storage buckets
            resources:delete-buckets: Allow members to delete object storage buckets
            resources:manage-buckets: Allow members to manage object storage buckets and their access keys
