openapi: 3.2.0
info:
  title: Forge Recipes API
  version: 0.0.1
  description: Laravel Forge - API Documentation
servers:
- url: https://forge.laravel.com/api
security:
- http: []
- oauth2: []
tags:
- name: Recipes
paths:
  /orgs/{organization}/recipes:
    get:
      operationId: organizations.recipes.index
      description: 'Show all recipes for the organization.


        Processing mode: sync'
      summary: List organization recipes
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `RecipeResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecipeResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - recipe:view
      x-permissions:
      - recipe:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organization.recipes.store
      description: 'Create a new recipe for the organization.


        Processing mode: sync'
      summary: Create recipe
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecipeRequest'
      responses:
        '200':
          description: '`RecipeResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RecipeResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - recipe:manage
      x-permissions:
      - recipe:manage
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/recipes/{recipe}:
    get:
      operationId: organizations.recipes.show
      description: 'Show the recipe for the organization.


        Processing mode: sync'
      summary: Get recipe
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: recipe
        in: path
        required: true
        description: The recipe ID
        schema:
          type: integer
      responses:
        '200':
          description: '`RecipeResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RecipeResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - recipe:view
      x-permissions:
      - recipe:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.recipes.update
      description: 'Update a recipe in the organization.


        Processing mode: sync'
      summary: Update recipe
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: recipe
        in: path
        required: true
        description: The recipe ID
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRecipeRequest'
      responses:
        '200':
          description: '`RecipeResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RecipeResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - recipe:manage
      x-permissions:
      - recipe:manage
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.recipes.destroy
      description: 'Delete a recipe from the organization.


        Processing mode: sync'
      summary: Delete recipe
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: recipe
        in: path
        required: true
        description: The recipe ID
        schema:
          type: integer
      responses:
        '204':
          description: 'Successfully deleted recipe




            No content'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - recipe:manage
      x-permissions:
      - recipe:manage
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/recipes/{recipe}/runs:
    get:
      operationId: organizations.recipes.runs.index
      description: 'Show all runs for the recipe.


        Processing mode: sync'
      summary: List recipe runs
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: recipe
        in: path
        required: true
        description: The recipe ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `RecipeLogResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecipeLogResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - recipe:view
      x-permissions:
      - recipe:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.recipes.runs.store
      description: 'Run a given recipe on a list of servers.


        Processing mode: async'
      summary: Create recipe run
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: recipe
        in: path
        required: true
        description: The recipe ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRecipeRequest'
      responses:
        '202':
          description: Recipe run accepted
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - recipe:view
      x-permissions:
      - recipe:manage
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/recipes/{recipe}/runs/{log}:
    get:
      operationId: organizations.recipes.runs.show
      description: 'Show a specific run for the recipe.


        Processing mode: sync'
      summary: Get recipe run
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: recipe
        in: path
        required: true
        description: The recipe ID
        schema:
          type: integer
      - name: log
        in: path
        required: true
        description: The log ID
        schema:
          type: integer
      responses:
        '200':
          description: '`RecipeLogResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RecipeLogResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - recipe:view
      x-permissions:
      - recipe:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/teams/{team}/recipes:
    get:
      operationId: organizations.teams.recipes.index
      description: 'Show all recipes for the team.


        Processing mode: sync'
      summary: List team recipes
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `RecipeResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecipeResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - recipe:view
      x-permissions:
      - recipe:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.teams.recipes.store
      description: 'Shares a recipe with a team.


        Processing mode: sync'
      summary: Share recipe with the team
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareRecipeRequest'
      responses:
        '201':
          description: 'Recipe shared successfully




            `RecipeResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RecipeResource'
                required:
                - data
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - recipe:manage
        - recipe:view
      x-permissions:
      - recipe:view
      - recipe:manage
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/teams/{team}/recipes/{recipe}:
    delete:
      operationId: organizations.teams.recipes.destroy
      description: 'Unshare a recipe with a team.


        Processing mode: sync'
      summary: Delete a recipe share
      tags:
      - Recipes
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: team
        in: path
        required: true
        description: The team ID
        schema:
          type: integer
      - name: recipe
        in: path
        required: true
        description: The recipe ID
        schema:
          type: integer
      responses:
        '204':
          description: 'Recipe unshared successfully




            No content'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - recipe:manage
        - recipe:view
      x-permissions:
      - recipe:view
      - recipe:manage
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /forge-recipes:
    get:
      operationId: forge-recipes.index
      description: 'Show all Forge provided recipes.


        Processing mode: sync'
      summary: List Forge's recipes
      tags:
      - Recipes
      parameters:
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `ForgeRecipeResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ForgeRecipeResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - recipe:view
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /forge-recipes/{forgeRecipe}:
    get:
      operationId: forge-recipes.show
      description: 'Show the Forge recipe.


        Processing mode: sync'
      summary: Get Forge recipe
      tags:
      - Recipes
      parameters:
      - name: forgeRecipe
        in: path
        required: true
        description: The forge recipe ID
        schema:
          type: integer
      responses:
        '200':
          description: '`ForgeRecipeResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ForgeRecipeResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - recipe:view
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /forge-recipes/{forgeRecipe}/runs:
    post:
      operationId: forge-recipes.runs.store
      description: 'Run a Forge recipe on specified servers.


        Processing mode: async'
      summary: Create Forge recipe run
      tags:
      - Recipes
      parameters:
      - name: forgeRecipe
        in: path
        required: true
        description: The forge recipe ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRecipeRequest'
      responses:
        '202':
          description: Recipe run accepted
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - recipe:view
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
components:
  schemas:
    UpdateRecipeRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        user:
          type: string
          enum:
          - root
          - forge
        script:
          type: string
      title: UpdateRecipeRequest
    ForgeRecipeResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - forgeRecipes
        attributes:
          type: object
          properties:
            name:
              type: string
            user:
              type: string
            info:
              type: string
            script:
              type: string
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - name
          - user
          - info
          - script
          - created_at
          - updated_at
        links:
          type: object
          properties:
            self:
              description: A link to the resource itself
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: ForgeRecipeResource
    RecipeLogResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - recipeLogs
        attributes:
          type: object
          properties:
            server_id:
              type: integer
            executed_by:
              type:
              - integer
              - 'null'
            recipe_id:
              type: integer
            status:
              $ref: '#/components/schemas/RecipeStatus'
            output:
              type:
              - string
              - 'null'
            started_at:
              type:
              - string
              - 'null'
              format: date-time
            finished_at:
              type:
              - string
              - 'null'
              format: date-time
          required:
          - server_id
          - executed_by
          - recipe_id
          - status
          - output
          - started_at
          - finished_at
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: RecipeLogResource
    ShareRecipeRequest:
      type: object
      properties:
        recipe_id:
          type: integer
          description: The ID of the recipe to share with the team.
          examples:
          - 3
      required:
      - recipe_id
      title: ShareRecipeRequest
    CreateRecipeRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        user:
          type: string
          enum:
          - root
          - forge
        script:
          type: string
        team_id:
          type: integer
      required:
      - name
      - user
      - script
      title: CreateRecipeRequest
    RunRecipeRequest:
      type: object
      properties:
        email:
          type: boolean
          description: Whether to send an email notification when the recipe has completed.
          examples:
          - true
        servers:
          type: array
          description: The servers on which to run the recipe on.
          examples:
          - - 1
            - 2
            - 3
          items:
            type: integer
      required:
      - servers
      title: RunRecipeRequest
    RecipeResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - recipes
        attributes:
          type: object
          properties:
            name:
              type: string
              description: The name of the Recipe.
              examples:
              - Install Security tooling
            script:
              type: string
              description: The script that should be executed.
              examples:
              - apt-get install -y my-custom-tooling
            user:
              type: string
              description: The user that the Recipe should be executed as.
              examples:
              - root
            created_at:
              type: string
              format: date-time
              description: The date the Recipe was created.
              examples:
              - '2025-07-29T09:00:00Z'
            updated_at:
              type: string
              format: date-time
              description: The date the Recipe was last updated.
              examples:
              - '2025-07-30T09:00:00Z'
          required:
          - name
          - script
          - user
          - created_at
          - updated_at
        links:
          type: object
          properties:
            self:
              description: A link to the resource itself
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: RecipeResource
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        rel:
          type: string
        describedby:
          type: string
        title:
          type: string
        type:
          type: string
        hreflang:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        meta:
          type: object
      required:
      - href
      title: Link
    RecipeStatus:
      type: string
      enum:
      - waiting
      - running
      - finished
      - failed
      title: RecipeStatus
  responses:
    ValidationException:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Errors overview.
              errors:
                type: object
                description: A detailed description of each field that failed validation.
                additionalProperties:
                  type: array
                  items:
                    type: string
            required:
            - message
            - errors
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://forge.laravel.com/oauth/authorize
          tokenUrl: https://forge.laravel.com/oauth/token
          scopes:
            organization:view: Allow members to view the organization
            organization:manage: Allow members to manage the organization
            organization:delete: Allow members to delete the organization
            server:view: Allow members to view servers
            server:create: Allow members to create servers
            server:delete: Allow members to delete servers
            server:archive: Allow members to archive servers
            server:transfer: Allow members to transfer servers to another Forge account
            server:manage-meta: Allow members to change server settings such as name and IP address
            server:manage-packages: Allow members to configure and remove server and site package authentication
            server:manage-php: Allow members to install and change PHP installations
            server:manage-logs: Allow members to clear server and site logs
            server:manage-network: Allow members to change the server‘s firewall
            server:manage-nginx-templates: Allow members to manage Nginx templates
            server:manage-services: Allow members to start, stop and restart services
            server:manage-password: Allow members to reset the sudo password
            server:create-keys: Allow members to add SSH keys to servers
            server:delete-keys: Allow members to remove SSH keys from servers
            server:create-monitors: Allow members to create server monitors
            server:delete-monitors: Allow members to delete server monitors
            server:create-databases: Allow members to create databases and database users
            server:delete-databases: Allow members to delete databases and database users
            server:create-backups: Allow members to create database backup configurations
            server:delete-backups: Allow members to delete database backup configurations
            server:create-daemons: Allow members to create daemons
            server:delete-daemons: Allow members to delete daemons
            server:create-schedulers: Allow members to create scheduled jobs
            server:delete-schedulers: Allow members to delete scheduled jobs
            server:web-terminal: Allow members to start web terminal sessions
            site:create: Allow members to create sites
            site:delete: Allow members to delete sites
            site:meta: Allow members to update site meta data such as domain name and aliases
            site:manage-commands: Allow members to run arbitrary commands from the site‘s root directory
            site:manage-deploys: Allow members to deploy the site and update the deployment script
            site:manage-nginx: Allow members to manage the site‘s Nginx configuration file
            site:manage-project: Allow members to install Git repositories, phpMyAdmin and WordPress applications
            site:manage-environment: Allow members to update the site‘s environment file
            site:manage-notifications: Allow members to configure deployment notifications
            site:manage-queues: Allow members to configure queue workers
            site:manage-redirects: Allow members to configure URL redirects
            site:manage-security: Allow members to configure HTTP Basic Authentication
            site:manage-ssl: Allow members to configure SSL and Let‘s Encrypt certificates
            site:manage-integrations: Allow members to manage site integrations
            site:manage-heartbeats: Allow members to manage heartbeats
            credential:view: Allow members to view credentials
            credential:manage: Allow members to manage credentials
            team:view: Allow members to view teams
            team:create: Allow members to create teams
            team:delete: Allow members to delete teams and team members
            recipe:view: Allow members to view recipes
            recipe:manage: Allow members to manage recipes
            billing:manage: Allow members to manage the organization's subscription
            storage:manage: Allow members to manage the organization's storage providers.
            integrations:manage: Allow members to manage the organization's integrations
            user:view: Allow members to view user details
            resources:view: Allow members to view resources
            resources:create-databases: Allow members to create managed database & cache clusters
            resources:delete-databases: Allow members to delete managed database & cache clusters
            resources:manage-databases: Allow members to manage managed database & cache clusters settings
            resources:create-buckets: Allow members to create object storage buckets
            resources:delete-buckets: Allow members to delete object storage buckets
            resources:manage-buckets: Allow members to manage object storage buckets and their access keys
