openapi: 3.2.0
info:
  title: Forge Sites API
  version: 0.0.1
  description: Laravel Forge - API Documentation
servers:
- url: https://forge.laravel.com/api
security:
- http: []
- oauth2: []
tags:
- name: Sites
paths:
  /sites:
    get:
      operationId: sites.index
      description: 'Show all sites the current token has access to.


        Processing mode: sync'
      summary: List sites
      tags:
      - Sites
      parameters:
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - server
            - serverCount
            - serverExists
            - tags
            - tagsCount
            - tagsExists
            - latestDeployment
            - latestDeploymentCount
            - latestDeploymentExists
            - securityRules
            - securityRulesCount
            - securityRulesExists
            - redirectRules
            - redirectRulesCount
            - redirectRulesExists
        explode: false
      responses:
        '200':
          description: Paginated set of `SiteResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SiteResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/ServerResource'
                      - $ref: '#/components/schemas/TagResource'
                      - $ref: '#/components/schemas/DeploymentResource'
                      - $ref: '#/components/schemas/SecurityRuleResource'
                      - $ref: '#/components/schemas/RedirectRuleResource'
                required:
                - data
                - links
                - meta
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/sites:
    get:
      operationId: organizations.sites.index
      description: 'Show all sites for the organization.


        Processing mode: sync'
      summary: List sites for Organization
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - server
            - serverCount
            - serverExists
            - tags
            - tagsCount
            - tagsExists
            - latestDeployment
            - latestDeploymentCount
            - latestDeploymentExists
            - securityRules
            - securityRulesCount
            - securityRulesExists
            - redirectRules
            - redirectRulesCount
            - redirectRulesExists
        explode: false
      responses:
        '200':
          description: Paginated set of `SiteResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SiteResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/ServerResource'
                      - $ref: '#/components/schemas/TagResource'
                      - $ref: '#/components/schemas/DeploymentResource'
                      - $ref: '#/components/schemas/SecurityRuleResource'
                      - $ref: '#/components/schemas/RedirectRuleResource'
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/sites/{site}:
    get:
      operationId: organizations.sites.show
      description: 'Show the specified site.


        Processing mode: sync'
      summary: Get site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '200':
          description: '`SiteResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SiteResource'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/ServerResource'
                      - $ref: '#/components/schemas/TagResource'
                      - $ref: '#/components/schemas/DeploymentResource'
                      - $ref: '#/components/schemas/SecurityRuleResource'
                      - $ref: '#/components/schemas/RedirectRuleResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/servers/{server}/sites:
    get:
      operationId: organizations.servers.sites.index
      description: 'List all sites associated with the server.


        Processing mode: sync'
      summary: List sites for server
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[name]
        in: query
        description: The name of the site.
        schema:
          type: string
          examples:
          - forge.laravel.com
      - name: sort
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
            - created_at
            - -created_at
            - updated_at
            - -updated_at
        explode: false
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - server
            - serverCount
            - serverExists
            - tags
            - tagsCount
            - tagsExists
            - latestDeployment
            - latestDeploymentCount
            - latestDeploymentExists
            - securityRules
            - securityRulesCount
            - securityRulesExists
            - redirectRules
            - redirectRulesCount
            - redirectRulesExists
        explode: false
      responses:
        '200':
          description: Paginated set of `SiteResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SiteResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/ServerResource'
                      - $ref: '#/components/schemas/TagResource'
                      - $ref: '#/components/schemas/DeploymentResource'
                      - $ref: '#/components/schemas/SecurityRuleResource'
                      - $ref: '#/components/schemas/RedirectRuleResource'
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.sites.store
      description: 'Add a new site to the server.


        Processing mode: async'
      summary: Create site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSiteRequest'
      responses:
        '202':
          description: '`SiteResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SiteResource'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/ServerResource'
                      - $ref: '#/components/schemas/TagResource'
                      - $ref: '#/components/schemas/DeploymentResource'
                      - $ref: '#/components/schemas/SecurityRuleResource'
                      - $ref: '#/components/schemas/RedirectRuleResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:create
      x-permissions:
      - site:create
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/balancer:
    post:
      operationId: organizations.servers.sites.storeOnBalancer
      description: 'Add a new site to the load balancer.


        Processing mode: async'
      summary: Create site on a load balancer
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoadBalancerSiteRequest'
      responses:
        '202':
          description: '`SiteResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SiteResource'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/ServerResource'
                      - $ref: '#/components/schemas/TagResource'
                      - $ref: '#/components/schemas/DeploymentResource'
                      - $ref: '#/components/schemas/SecurityRuleResource'
                      - $ref: '#/components/schemas/RedirectRuleResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:create
      x-permissions:
      - site:create
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}:
    put:
      operationId: organizations.servers.sites.update
      description: 'Update a site on the server.


        Processing mode: async'
      summary: Update site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSiteRequest'
      responses:
        '202':
          description: Accepted
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:create
      x-permissions:
      - site:create
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
    delete:
      operationId: organizations.servers.sites.destroy
      description: 'Remove a site from the server.


        Processing mode: async'
      summary: Delete site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '202':
          description: Accepted
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:delete
      x-permissions:
      - site:delete
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/certificates:
    get:
      operationId: organizations.servers.sites.certificates.index
      description: 'List all certificates for a given site, across all of its domains.


        Processing mode: sync'
      summary: List site certificates
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '200':
          description: Array of `CertificateResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CertificateResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/servers/{server}/sites/{site}/domains:
    get:
      operationId: organizations.servers.sites.domains.index
      description: 'Show all domains for the site.


        Processing mode: sync'
      summary: List domains
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: filter[status]
        in: query
        description: The status of the domain.
        schema:
          examples:
          - enabled
          $ref: '#/components/schemas/DomainRecordStatus'
      - name: filter[type]
        in: query
        description: The type of domain.
        schema:
          type: string
          enum:
          - primary
          - alias
          examples:
          - primary
      - name: sort
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
            - created_at
            - -created_at
        explode: false
      responses:
        '200':
          description: Paginated set of `DomainRecordResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainRecordResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.sites.domains.store
      description: 'Add a new domain to the site


        Processing mode: async'
      summary: Create domain
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
      responses:
        '202':
          description: '`DomainRecordResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DomainRecordResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/domains/{domainRecord}:
    get:
      operationId: organizations.servers.sites.domains.show
      description: 'Show the specified domain for the site


        Processing mode: sync'
      summary: Get domain
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      responses:
        '200':
          description: '`DomainRecordResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DomainRecordResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    patch:
      operationId: organizations.servers.sites.domains.update
      description: 'Update an existing domain for the site


        Processing mode: async'
      summary: Update domain
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainRequest'
      responses:
        '200':
          description: '`DomainRecordResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DomainRecordResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
    delete:
      operationId: organizations.servers.sites.domains.destroy
      description: 'Remove a domain from the site


        Processing mode: async'
      summary: Delete domain
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/domains/{domainRecord}/configurations:
    get:
      operationId: organizations.servers.sites.domains.configurations
      description: 'Show the DNS configuration instructions for a domain.


        Processing mode: sync'
      summary: Get domain DNS configuration
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      responses:
        '200':
          description: Array of `DomainRecordConfigurationResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainRecordConfigurationResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/servers/{server}/sites/{site}/domains/{domainRecord}/actions:
    post:
      operationId: organizations.servers.sites.domains.actions.store
      description: 'Run an action on a domain, defined by the action type parameter.


        Processing mode: async'
      summary: Create domain action
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainActionRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/domains/{domainRecord}/nginx:
    get:
      operationId: organizations.servers.sites.domains.nginx.show
      description: 'Processing mode: sync'
      summary: Get domain Nginx configuration
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      responses:
        '200':
          description: '`NginxConfigResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NginxConfigResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:manage-nginx
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.sites.domains.nginx.update
      description: 'Processing mode: async'
      summary: Update domain Nginx configuration
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNginxConfigurationRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:manage-nginx
      x-permissions:
      - site:manage-nginx
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/domains/{domainRecord}/certificate:
    get:
      operationId: organizations.servers.sites.domains.certificate.show
      description: 'Get the currently active certificate for a given domain.


        Processing mode: sync'
      summary: Get active domain certificate
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      responses:
        '200':
          description: '`CertificateResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CertificateResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/servers/{server}/sites/{site}/domains/{domainRecord}/certificates:
    get:
      operationId: organizations.servers.sites.domains.certificates.index
      description: 'List all certificates for a given domain.


        Processing mode: sync'
      summary: List domain certificates
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      responses:
        '200':
          description: Array of `CertificateResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CertificateResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.sites.domains.certificates.store
      description: 'Create a new certificate for a given domain.


        Processing mode: async'
      summary: Create domain certificate
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDomainCertificateRequest'
      responses:
        '202':
          description: '`CertificateResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CertificateResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:manage-ssl
      x-permissions:
      - site:manage-ssl
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/domains/{domainRecord}/certificates/active:
    get:
      operationId: organizations.servers.sites.domains.certificates.active
      description: 'Get the currently active certificate for a given domain.


        Processing mode: sync'
      summary: Get active domain certificate
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      responses:
        '200':
          description: '`CertificateResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CertificateResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/servers/{server}/sites/{site}/domains/{domainRecord}/certificates/{certificate}:
    get:
      operationId: organizations.servers.sites.domains.certificates.show
      description: 'Get a specific certificate for a given domain.


        Processing mode: sync'
      summary: Get domain certificate
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      - name: certificate
        in: path
        required: true
        description: The certificate ID
        schema:
          type: integer
      responses:
        '200':
          description: '`CertificateResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CertificateResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.servers.sites.domains.certificates.destroy
      description: 'Delete a specific certificate for a given domain.


        Processing mode: async'
      summary: Delete domain certificate
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      - name: certificate
        in: path
        required: true
        description: The certificate ID
        schema:
          type: integer
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:manage-ssl
      x-permissions:
      - site:manage-ssl
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/domains/{domainRecord}/certificates/{certificate}/actions:
    post:
      operationId: organizations.servers.sites.domains.certificates.actions.store
      description: 'Run an action on a domain certificate, defined by the action type parameter.


        Processing mode: async'
      summary: Create domain certificate action
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: domainRecord
        in: path
        required: true
        description: The domain record ID
        schema:
          type: integer
      - name: certificate
        in: path
        required: true
        description: The certificate ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCertificateActionRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:meta
      x-permissions:
      - site:meta
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/healthcheck:
    get:
      operationId: organizations.servers.sites.healthcheck.show
      description: 'Show the healthcheck endpoint that has been set for the site.


        Processing mode: sync'
      summary: Get healthcheck endpoint
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '200':
          description: '`HealthcheckEndpointResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/HealthcheckEndpointResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:manage-project
      x-permissions:
      - site:manage-project
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.sites.healthcheck.update
      description: 'Update the healthcheck endpoint for the site.


        Processing mode: sync'
      summary: Update healthcheck endpoint
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateHealthcheckEndpointRequest'
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:manage-project
      x-permissions:
      - site:manage-project
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/servers/{server}/sites/{site}/environment:
    get:
      operationId: organizations.servers.sites.environment.show
      description: 'Processing mode: sync'
      summary: Get .env content
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '200':
          description: '`EnvironmentResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EnvironmentResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.sites.environment.update
      description: 'Processing mode: async'
      summary: Update .env content
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentRequest'
      responses:
        '202':
          description: ''
        '422':
          $ref: '#/components/responses/ValidationException'
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:manage-environment
      x-permissions:
      - site:manage-environment
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/nginx:
    get:
      operationId: organizations.servers.sites.nginx.show
      description: 'Processing mode: sync'
      summary: Get Nginx configuration
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '200':
          description: '`NginxConfigResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NginxConfigResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:manage-nginx
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.sites.nginx.update
      description: 'Processing mode: async'
      summary: Update Nginx configuration
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNginxConfigurationRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:manage-nginx
      x-permissions:
      - site:manage-nginx
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/composer/credentials:
    get:
      operationId: organizations.servers.sites.composer.credentials.index
      description: 'Processing mode: sync'
      summary: Get composer credentials for the site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '200':
          description: Paginated set of `ComposerCredentialResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComposerCredentialResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        minimum: 1
                      from:
                        type:
                        - integer
                        - 'null'
                        minimum: 1
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      to:
                        type:
                        - integer
                        - 'null'
                        description: Number of the last item in the slice.
                        minimum: 1
                    required:
                    - current_page
                    - from
                    - path
                    - per_page
                    - to
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.sites.composer.credentials.store
      description: 'Processing mode: async'
      summary: Create composer credentials for the site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComposerCredentialRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:manage-packages
      x-permissions:
      - server:manage-packages
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/composer/credentials/{repository}:
    get:
      operationId: organizations.servers.sites.composer.credentials.show
      description: 'Processing mode: sync'
      summary: Get composer credential for the site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: repository
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '`ComposerCredentialResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ComposerCredentialResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.sites.composer.credentials.update
      description: 'Processing mode: async'
      summary: Update composer credentials for the site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: repository
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateComposerCredentialRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:manage-packages
      x-permissions:
      - server:manage-packages
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
    delete:
      operationId: organizations.servers.sites.composer.credentials.destroy
      description: 'Processing mode: async'
      summary: Delete composer credentials for the site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: repository
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-packages
      x-permissions:
      - server:manage-packages
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/npm/credentials:
    get:
      operationId: organizations.servers.sites.npm.credentials.index
      description: 'Processing mode: sync'
      summary: Get NPM credentials for the site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '200':
          description: Paginated set of `NpmCredentialResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/NpmCredentialResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        minimum: 1
                      from:
                        type:
                        - integer
                        - 'null'
                        minimum: 1
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      to:
                        type:
                        - integer
                        - 'null'
                        description: Number of the last item in the slice.
                        minimum: 1
                    required:
                    - current_page
                    - from
                    - path
                    - per_page
                    - to
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.sites.npm.credentials.store
      description: 'Processing mode: async'
      summary: Create NPM credentials for the site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNpmCredentialRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:manage-packages
      x-permissions:
      - server:manage-packages
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/npm/credentials/{registry}:
    get:
      operationId: organizations.servers.sites.npm.credentials.show
      description: 'Processing mode: sync'
      summary: Get NPM credential for the site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: registry
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '`NpmCredentialResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NpmCredentialResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.sites.npm.credentials.update
      description: 'Processing mode: async'
      summary: Update NPM credentials for the site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: registry
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNpmCredentialRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - server:manage-packages
      x-permissions:
      - server:manage-packages
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
    delete:
      operationId: organizations.servers.sites.npm.credentials.destroy
      description: 'Processing mode: async'
      summary: Delete npm credentials for the site
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: registry
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-packages
      x-permissions:
      - server:manage-packages
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/load-balancing-nodes:
    get:
      operationId: organizations.servers.sites.load-balancing-nodes.index
      description: 'Processing mode: sync'
      summary: List load balancing nodes
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - -id
        explode: false
      responses:
        '200':
          description: Paginated set of `LoadBalancingNodeResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LoadBalancingNodeResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:manage-project
      x-permissions:
      - site:manage-project
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.sites.load-balancing-nodes.update
      description: 'Processing mode: async'
      summary: Update load balancing nodes
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoadBalancerRequest'
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:manage-project
      x-permissions:
      - site:manage-project
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/logs/nginx-access:
    get:
      operationId: organizations.servers.sites.logs.nginx-access.show
      description: 'Processing mode: sync'
      summary: Get Nginx access log content
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '200':
          description: '`NginxAccessLogResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NginxAccessLogResource'
                  meta:
                    type: object
                    properties:
                      log:
                        type: string
                        const: site-nginx-access
                    required:
                    - log
                required:
                - data
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-logs
      x-permissions:
      - server:manage-logs
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.servers.sites.logs.nginx-access.destroy
      description: 'Processing mode: async'
      summary: Delete Nginx access log content
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-logs
      x-permissions:
      - server:manage-logs
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/logs/nginx-error:
    get:
      operationId: organizations.servers.sites.logs.nginx-error.show
      description: 'Processing mode: sync'
      summary: Get Nginx error log content
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '200':
          description: '`NginxErrorLogResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NginxErrorLogResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-logs
      x-permissions:
      - server:manage-logs
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.servers.sites.logs.nginx-error.destroy
      description: 'Processing mode: async'
      summary: Delete Nginx error log content
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-logs
      x-permissions:
      - server:manage-logs
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/logs/application:
    get:
      operationId: organizations.servers.sites.logs.application.show
      description: 'Processing mode: sync'
      summary: Get site log content
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '200':
          description: '`ApplicationLogResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApplicationLogResource'
                  meta:
                    type: object
                    properties:
                      log:
                        type: string
                        const: site
                    required:
                    - log
                required:
                - data
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-logs
      x-permissions:
      - server:manage-logs
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.servers.sites.logs.application.destroy
      description: 'Processing mode: async'
      summary: Delete site log content
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      responses:
        '202':
          description: ''
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-logs
      x-permissions:
      - server:manage-logs
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
  /orgs/{organization}/servers/{server}/sites/{site}/heartbeats:
    get:
      operationId: organizations.servers.sites.heartbeats.index
      description: 'Show all heartbeats for the site.


        Processing mode: sync'
      summary: List heartbeats
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `HeartbeatResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HeartbeatResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    post:
      operationId: organizations.servers.sites.heartbeats.store
      description: 'Create a new heartbeat for the site.


        Processing mode: sync'
      summary: Create heartbeat
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHeartbeatRequest'
      responses:
        '200':
          description: '`HeartbeatResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/HeartbeatResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:manage-heartbeats
      x-permissions:
      - site:manage-heartbeats
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /orgs/{organization}/servers/{server}/sites/{site}/heartbeats/{heartbeat}:
    get:
      operationId: organizations.servers.sites.heartbeats.show
      description: 'Show a specific heartbeat for the site.


        Processing mode: sync'
      summary: Get heartbeat
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: heartbeat
        in: path
        required: true
        description: The heartbeat ID
        schema:
          type: integer
      responses:
        '200':
          description: '`HeartbeatResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/HeartbeatResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:view
      x-permissions:
      - server:view
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    put:
      operationId: organizations.servers.sites.heartbeats.update
      description: 'Update a specific heartbeat for the site.


        Processing mode: sync'
      summary: Update heartbeat
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: heartbeat
        in: path
        required: true
        description: The heartbeat ID
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateHeartbeatRequest'
      responses:
        '200':
          description: '`HeartbeatResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/HeartbeatResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
      - oauth2:
        - site:manage-heartbeats
      x-permissions:
      - site:manage-heartbeats
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.servers.sites.heartbeats.destroy
      description: 'Delete a specific heartbeat for the site.


        Processing mode: sync'
      summary: Delete heartbeat
      tags:
      - Sites
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: site
        in: path
        required: true
        description: The site ID
        schema:
          type: integer
      - name: heartbeat
        in: path
        required: true
        description: The heartbeat ID
        schema:
          type: integer
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - site:manage-heartbeats
      x-permissions:
      - site:manage-heartbeats
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
components:
  schemas:
    UpdateComposerCredentialRequest:
      type: object
      properties:
        repository:
          type: string
        username:
          type: string
        password:
          type: string
      required:
      - repository
      - username
      - password
      title: UpdateComposerCredentialRequest
    HeartbeatGracePeriod:
      type: integer
      enum:
      - 1
      - 2
      - 5
      - 10
      - 30
      - 60
      title: HeartbeatGracePeriod
    ComposerCredentialResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          properties:
            repository:
              type: string
            username:
              type: string
            password:
              type: string
          required:
          - repository
          - username
          - password
        links:
          type: object
          properties:
            self:
              description: A link to the resource itself
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: ComposerCredentialResource
    MaintenanceModeStatus:
      type: string
      enum:
      - disabling
      - enabling
      title: MaintenanceModeStatus
    DeploymentResourceIdentifier:
      type: object
      properties:
        type:
          type: string
          enum:
          - deployments
        id:
          type: string
      required:
      - type
      - id
      title: DeploymentResourceIdentifier
    WwwRedirectType:
      type: string
      enum:
      - from-www
      - to-www
      - none
      title: WwwRedirectType
    AppType:
      type: string
      enum:
      - Statamic
      - WordPress
      - phpMyAdmin
      - Laravel
      - Symfony
      - PHP
      - Next.js
      - Nuxt.js
      - Static HTML
      - Custom
      - Craft
      - Minecraft
      title: AppType
    HealthcheckEndpointResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - healthcheckEndpoints
        attributes:
          type: object
          properties:
            healthcheck_endpoint:
              type:
              - string
              - 'null'
          required:
          - healthcheck_endpoint
        links:
          type: object
          properties:
            self:
[...]
