openapi: 3.1.0
info:
  title: Laravel Cloud Applications Logs API
  version: 0.0.1
servers:
- url: https://cloud.laravel.com/api
security:
- http: []
tags:
- name: Logs
paths:
  /orgs/{organization}/servers/{server}/logs/{key}:
    get:
      operationId: organizations.servers.logs.show
      description: '


        Processing mode: <small><code>sync</code></small>'
      summary: Get server log content
      tags:
      - Logs
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '`ServerLogResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ServerLogResource'
                  meta:
                    type: object
                    properties:
                      log:
                        type: string
                    required:
                    - log
                required:
                - data
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-logs
      x-permissions:
      - server:manage-logs
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
    delete:
      operationId: organizations.servers.logs.destroy
      description: '


        Processing mode: <small><code>async</code></small>'
      summary: Delete server log content
      tags:
      - Logs
      parameters:
      - name: organization
        in: path
        required: true
        description: The organization slug
        schema:
          type: string
      - name: server
        in: path
        required: true
        description: The server ID
        schema:
          type: integer
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2:
        - server:manage-logs
      x-permissions:
      - server:manage-logs
      x-mint:
        metadata:
          noindex: true
      x-processingMode: async
components:
  responses:
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  schemas:
    ServerLogResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - serverLogs
        attributes:
          type: object
          properties:
            content:
              type: string
          required:
          - content
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: ServerLogResource
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        rel:
          type: string
        describedby:
          type: string
        title:
          type: string
        type:
          type: string
        hreflang:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        meta:
          type: object
      required:
      - href
      title: Link
  securitySchemes:
    http:
      type: http
      description: The Bearer Token generated on the Cloud UI.
      scheme: bearer
      bearerFormat: bearer
