openapi: 3.2.0
info:
  title: Forge Providers API
  version: 0.0.1
  description: Laravel Forge - API Documentation
servers:
- url: https://forge.laravel.com/api
security:
- http: []
- oauth2: []
tags:
- name: Providers
paths:
  /providers:
    get:
      operationId: providers.index
      description: 'Show all providers


        Processing mode: sync'
      summary: List providers
      tags:
      - Providers
      parameters:
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `ProviderResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProviderResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /providers/{provider}:
    get:
      operationId: providers.show
      description: 'Show the provider.


        Processing mode: sync'
      summary: Get provider
      tags:
      - Providers
      parameters:
      - name: provider
        in: path
        required: true
        description: The provider ID
        schema:
          type: integer
      responses:
        '200':
          description: '`ProviderResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ProviderResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /providers/{provider}/sizes:
    get:
      operationId: providers.sizes.index
      description: 'Show all providers


        Processing mode: sync'
      summary: List provider sizes
      tags:
      - Providers
      parameters:
      - name: provider
        in: path
        required: true
        description: The provider ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `ProviderSizeResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProviderSizeResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /providers/{provider}/sizes/{providerSize}:
    get:
      operationId: providers.sizes.show
      description: 'Show the provider size.


        Processing mode: sync'
      summary: Get provider size
      tags:
      - Providers
      parameters:
      - name: provider
        in: path
        required: true
        description: The provider ID
        schema:
          type: integer
      - name: providerSize
        in: path
        required: true
        description: The provider size forge id
        schema:
          type: string
      responses:
        '200':
          description: '`ProviderSizeResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ProviderSizeResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /providers/{provider}/regions:
    get:
      operationId: providers.regions.index
      description: 'Show all provider regions


        Processing mode: sync'
      summary: List provider regions
      tags:
      - Providers
      parameters:
      - name: provider
        in: path
        required: true
        description: The provider ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `ProviderRegionResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProviderRegionResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /providers/{provider}/regions/{providerRegion}:
    get:
      operationId: providers.regions.show
      description: 'Show the provider region.


        Processing mode: sync'
      summary: Get provider region
      tags:
      - Providers
      parameters:
      - name: provider
        in: path
        required: true
        description: The provider ID
        schema:
          type: integer
      - name: providerRegion
        in: path
        required: true
        description: The provider region ID
        schema:
          type: integer
      responses:
        '200':
          description: '`ProviderRegionResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ProviderRegionResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /providers/{provider}/regions/{providerRegion}/sizes:
    get:
      operationId: providers.regions.sizes.index
      description: 'Show all provider region sizes


        Processing mode: sync'
      summary: List provider region sizes
      tags:
      - Providers
      parameters:
      - name: provider
        in: path
        required: true
        description: The provider ID
        schema:
          type: integer
      - name: providerRegion
        in: path
        required: true
        description: The provider region ID
        schema:
          type: integer
      - name: page[size]
        in: query
        description: The number of results that will be returned per page.
        schema:
          type: integer
          default: 30
      - name: page[cursor]
        in: query
        description: The cursor to start the pagination from.
        schema:
          type: string
      responses:
        '200':
          description: Paginated set of `ProviderRegionSizeResource`
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProviderRegionSizeResource'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                  meta:
                    type: object
                    properties:
                      path:
                        type:
                        - string
                        - 'null'
                        description: Base path for paginator generated URLs.
                      per_page:
                        type: integer
                        description: Number of items shown per page.
                        minimum: 0
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the next set of items.
                      prev_cursor:
                        type:
                        - string
                        - 'null'
                        description: The "cursor" that points to the previous set of items.
                    required:
                    - path
                    - per_page
                    - next_cursor
                    - prev_cursor
                required:
                - data
                - links
                - meta
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
  /providers/{provider}/regions/{providerRegion}/sizes/{providerSize}:
    get:
      operationId: providers.regions.sizes.show
      description: 'Show the provider region size.


        Processing mode: sync'
      summary: Get provider region size
      tags:
      - Providers
      parameters:
      - name: provider
        in: path
        required: true
        description: The provider ID
        schema:
          type: integer
      - name: providerRegion
        in: path
        required: true
        description: The provider region ID
        schema:
          type: integer
      - name: providerSize
        in: path
        required: true
        description: The provider size forge id
        schema:
          type: string
      responses:
        '200':
          description: '`ProviderRegionSizeResource`'
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ProviderRegionSizeResource'
                required:
                - data
        '404':
          $ref: '#/components/responses/ModelNotFoundException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
      security:
      - oauth2: []
      x-permissions: []
      x-mint:
        metadata:
          noindex: true
      x-processingMode: sync
components:
  schemas:
    ProviderSizeResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - providerSizes
        attributes:
          type: object
          properties:
            name:
              type: string
              description: The name of the size.
            code:
              type: string
              description: The code identifier from the provider.
            series:
              type: string
              description: The series type.
            category:
              type: string
              description: The category name
            cpus:
              type: integer
              description: The number of CPUs.
            disk_type:
              type: string
              description: The type of disk.
            architecture:
              type: string
              description: The CPU architecture.
            ram:
              type: integer
              description: The amount of RAM in MB.
            disk:
              type: integer
              description: The amount of disk space in MB.
          required:
          - name
          - code
          - series
          - category
          - cpus
          - disk_type
          - architecture
          - ram
          - disk
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: ProviderSizeResource
    ProviderRegionSizeResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - providerSizes
        attributes:
          type: object
          properties:
            name:
              type: string
          required:
          - name
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: ProviderRegionSizeResource
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        rel:
          type: string
        describedby:
          type: string
        title:
          type: string
        type:
          type: string
        hreflang:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        meta:
          type: object
      required:
      - href
      title: Link
    ProviderRegionResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - providerRegions
        attributes:
          type: object
          properties:
            name:
              type: string
            code:
              type: string
            alternate_code:
              type:
              - string
              - 'null'
          required:
          - name
          - code
          - alternate_code
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: ProviderRegionResource
    ProviderResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - providers
        attributes:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
            simple_name:
              type:
              - string
              - 'null'
            currency:
              type: string
            currency_symbol:
              type: string
            default_size_code:
              type:
              - string
              - 'null'
            default_region_code:
              type:
              - string
              - 'null'
          required:
          - name
          - slug
          - simple_name
          - currency
          - currency_symbol
          - default_size_code
          - default_region_code
        links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
          required:
          - self
      required:
      - id
      - type
      - links
      title: ProviderResource
  responses:
    AuthorizationException:
      description: Authorization error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
    ModelNotFoundException:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error overview.
            required:
            - message
  securitySchemes:
    http:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://forge.laravel.com/oauth/authorize
          tokenUrl: https://forge.laravel.com/oauth/token
          scopes:
            organization:view: Allow members to view the organization
            organization:manage: Allow members to manage the organization
            organization:delete: Allow members to delete the organization
            server:view: Allow members to view servers
            server:create: Allow members to create servers
            server:delete: Allow members to delete servers
            server:archive: Allow members to archive servers
            server:transfer: Allow members to transfer servers to another Forge account
            server:manage-meta: Allow members to change server settings such as name and IP address
            server:manage-packages: Allow members to configure and remove server and site package authentication
            server:manage-php: Allow members to install and change PHP installations
            server:manage-logs: Allow members to clear server and site logs
            server:manage-network: Allow members to change the server‘s firewall
            server:manage-nginx-templates: Allow members to manage Nginx templates
            server:manage-services: Allow members to start, stop and restart services
            server:manage-password: Allow members to reset the sudo password
            server:create-keys: Allow members to add SSH keys to servers
            server:delete-keys: Allow members to remove SSH keys from servers
            server:create-monitors: Allow members to create server monitors
            server:delete-monitors: Allow members to delete server monitors
            server:create-databases: Allow members to create databases and database users
            server:delete-databases: Allow members to delete databases and database users
            server:create-backups: Allow members to create database backup configurations
            server:delete-backups: Allow members to delete database backup configurations
            server:create-daemons: Allow members to create daemons
            server:delete-daemons: Allow members to delete daemons
            server:create-schedulers: Allow members to create scheduled jobs
            server:delete-schedulers: Allow members to delete scheduled jobs
            server:web-terminal: Allow members to start web terminal sessions
            site:create: Allow members to create sites
            site:delete: Allow members to delete sites
            site:meta: Allow members to update site meta data such as domain name and aliases
            site:manage-commands: Allow members to run arbitrary commands from the site‘s root directory
            site:manage-deploys: Allow members to deploy the site and update the deployment script
            site:manage-nginx: Allow members to manage the site‘s Nginx configuration file
            site:manage-project: Allow members to install Git repositories, phpMyAdmin and WordPress applications
            site:manage-environment: Allow members to update the site‘s environment file
            site:manage-notifications: Allow members to configure deployment notifications
            site:manage-queues: Allow members to configure queue workers
            site:manage-redirects: Allow members to configure URL redirects
            site:manage-security: Allow members to configure HTTP Basic Authentication
            site:manage-ssl: Allow members to configure SSL and Let‘s Encrypt certificates
            site:manage-integrations: Allow members to manage site integrations
            site:manage-heartbeats: Allow members to manage heartbeats
            credential:view: Allow members to view credentials
            credential:manage: Allow members to manage credentials
            team:view: Allow members to view teams
            team:create: Allow members to create teams
            team:delete: Allow members to delete teams and team members
            recipe:view: Allow members to view recipes
            recipe:manage: Allow members to manage recipes
            billing:manage: Allow members to manage the organization's subscription
            storage:manage: Allow members to manage the organization's storage providers.
            integrations:manage: Allow members to manage the organization's integrations
            user:view: Allow members to view user details
            resources:view: Allow members to view resources
            resources:create-databases: Allow members to create managed database & cache clusters
            resources:delete-databases: Allow members to delete managed database & cache clusters
            resources:manage-databases: Allow members to manage managed database & cache clusters settings
            resources:create-buckets: Allow members to create object storage buckets
            resources:delete-buckets: Allow members to delete object storage buckets
            resources:manage-buckets: Allow members to manage object storage buckets and their access keys
